<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于我们 - 交友、征婚、相亲、淄博旮旯爱妻公寓专业交友网</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#mainu { margin: 15px 0 0 0; width:960px;height:100%; overflow: hidden; border:1px #e3e3e3 solid; background:url(image/mymenu_bj2.gif) repeat-y left 0}
#mainarea{padding:20px 30px 20px 30px;width:730px;line-height:25px;}
#mainarea li{ text-indent:24px; padding-bottom:5px;}
</style>
</head>

<body>
<!-- 顶部 -->
<div id="indextop">
<div class="logo"><a href="index.php"><img src="image/logo.gif" /></a></div>
<div class="topright">
<div class="qq"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=417215092&amp;site=qq&amp;menu=yes" target="_blank">在线客服</a><a href="javascript:window.external.AddFavorite('http://www.zibo3.com', '淄博旮旯爱情公寓')">收藏本站</a></div>
<div class="slogan">
<div align="right">淄博旮旯爱情公寓网是为全国单身男女提供专业婚恋交友平台，摆脱单身成就幸福。</div>
</div> 
</div>
</div>
<!-- 顶部end -->

<!-- 菜单 -->
<div id="menu">
<ul>
<li class="left"></li>
<li><a href="../../index.php" class="home">首页</a></li>
<li><a href="../../space.php?do=home" class="mf">个人中心</a></li>
<li><a href="../../space.php?do=love&p=girl" class="mf">迷人女士</a></li>
<li><a href="../../space.php?do=love&p=man" class="mf">大方绅士</a></li>
<li><a href="../../space.php?do=love" class="mf">同城异性</a></li>
<li><a href="../../cp.php?ac=friend&op=search&all=yes" class="mf">搜索异性</a></li>
<li><a href="../../space.php?do=blog" class="mt">日志</a></li>
<li><a href="../../space.php?do=album" class="mt">相册</a></li>
<li class="right_login">
<a href="/do.php?ac=login" class="login_lo"><img src="/template/default/image/login_lo.gif" border="0" align="absmiddle" /> 登录</a>
<a href="/do.php?ac=register" class="login_zc"><img src="/template/default/image/login_zcimg.gif" border="0" align="absmiddle" /> 注册</a>
</li>
</ul>
</div>
<!-- 菜单end -->

<div id="wrap">

<div id="mainu">
<div id="app_sidebar">
<ul class="app_list" id="default_userapp">
<li class="li" style="margin-top:5px;"><a href="about.html"><strong>关于我们</strong></a></li>                
<li><a href="mzsm.html">法律声明</a></li>
<li><a href="ysbh.html">隐私保护</a></li>
<li><a href="gl.html">交友攻略</a></li>
<li><a href="fpmj.html">防骗秘籍</a></li>
<li><a href="faq.html">常见问题</a></li>
<li><a href="gy.html">文明公约</a></li>
<li><a href="lxwm.html">联系我们</a></li>
</ul>
</div>
<div id="mainarea">
<h3 style="font:bold 14px/32px '宋体';">关于淄博旮旯爱情公寓</h3>
<ul>
<li><font color="red">淄博旮旯爱情公寓</font>专注于都市男女同城交友约会信息交流，专为情感孤独、寂寞的人士服务，帮助两颗寂寞的心相互靠近，用爱和帮助温暖彼此，享受幸福。历经三年的发展， 注册会员超过150万，且每天以近4000以上新会员注册的爆炸式高速增长，在白领等主素质人群，享有极高的知名度和极好的口碑，是国内最优秀的同城交友网站之一。</li>
</ul>
<h3 style="font:bold 14px/32px '宋体';">淄博旮旯爱情公寓的使命</h3>
<ul>
<li>如果能让那些感情上需要慰籍的人彼此之间通过爱和帮助建立相互信赖、依存的关系，那我们也不枉做此站。要建立值得信赖的情侣或朋友关系，付出比索取更重要，需有双方积极的行动，因为彼此都渴望得到爱、得到帮助。</li>
<li>我们专注于为广大网民提供最真实的交友信息平台，只要你注册成为会员，在你寻找异性伴侣的同时，也会有更多的异性网友通过<font color="red">淄博旮旯爱情公寓</font>找到你，不论你是资深人士还是新手，只要你有足够的耐心，<font color="red">淄博旮旯爱情公寓</font>都会让你收获那份意想不到的惊喜！同时，我们要求每一位会员注册真实的资料，这将有利于我们向你推荐众多符合你要求的同城异性朋友，让同城的你和她(或他)从相识开始相爱......相伴甜蜜生活，共享激情人生，一切从<font color="red">淄博旮旯爱情公寓</font>开始......</li>
</ul>
<h3 style="font:bold 14px/32px '宋体';">为什么要加入淄博旮旯爱情公寓</h3>
<ul>
<li>
淄博旮旯爱情公寓是口碑传播的快捷交友网站，海量优质会员，遍布全国332个地区；70%的白领会员，用户群体集中，24小时万人同时在线；用户资料精密审核，真实，有效，多种择友圈，让你方便找到所需；众多优秀人士在淄博旮旯爱情公寓邂逅了浪漫，找到了志同道合的有情人；淄博旮旯爱情公寓都市男女体验激情人生的最佳伴侣！</li>
<li>
这是一群与寂寞有染的人,他们通过网络来邂逅浪漫,在城市中徘徊寻找心灵的港湾,他们素质良好、收入可靠,他们不羁世俗、释放自我,他们认可积极开放的交友方式,并为之聚集——相聚淄博旮旯爱情公寓 爱上有情人。
</li>
</ul>

</div>



<!--/mainarea-->

<div id="bottom"></div>

</div>

<!--/main-->
	<div id="footer">
		
		
		<p class="r_option">
			<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP"><img src="image/top.gif" alt="" style="padding: 5px 6px 6px;" /></a>
		</p>

		<p><a href="../template/default/about.html" target="_blank">关于我们</a>- <a href="../template/default/mzsm.html" target="_blank">法律声明</a>- <a href="../template/default/ysbh.html" target="_blank">隐私保护</a>- <a href="../template/default/gl.html" target="_blank">交友攻略</a>- <a href="../template/default/fpmj.html" target="_blank">防骗秘籍</a>- <a href="../template/default/faq.html" target="_blank">常见问题解答</a>- <a href="../template/default/lxwm.html">联系我们</a>- <a href="../template/default/gy.html" target="_blank">文明公约</a> <a  href="http://www.miibeian.gov.cn" target="_blank">鲁ICP备09179073号</a> </p>
		<p> Powered by <a href="http://www.zibo3.com" target="_blank"><strong>淄博旮旯爱情公寓</strong></a>
            <!--<span title="<!--{eval echo X_RELEASE;}-->
		  &quot;&gt;
		  <!--{eval echo X_VER;}-->
		  </span>--&gt;
            <!--{if !empty($_SCONFIG['licensed'])}-->
		  <!--<a  href="http://license.comsenz.com/?pid=7&host=$_SERVER[HTTP_HOST]" target="_blank">Licensed</a>-->
		  <!--{/if}-->
  &copy; 2008-2011 <a  href="http://www.zibo3.com" target="_blank">zibo3.com </a>网站建设维护：<a href="http://www.zibo3.com" target="_blank">鲁中数据</a>
  <script language="JavaScript" src="http://s11.cnzz.com/stat.php?id=3401980&amp;web_id=3401980&amp;show=pic" type="text/javascript"></script>
        </p>
		<p> 声明：【淄博旮旯爱情公寓】淄博交友网提供淄博同城交友找情人、淄博婚介所服务，是淄博最专业的同城交友平台，所有会员禁止在本站发布任何色情信息。</p>
	</div>
</div>
</body>
</html>
