<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>常见问题 - 交友、征婚、相亲、淄博旮旯爱妻公寓专业交友网</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#mainu { margin: 15px 0 0 0; width:960px;height:100%; overflow: hidden; border:1px #e3e3e3 solid; background:url(image/mymenu_bj2.gif) repeat-y left 0}
#mainarea{padding:20px 30px 20px 30px;width:730px;line-height:25px;}
#mainarea li{ text-indent:24px; padding-bottom:5px;}
.title{ display:block;}
.q{color:red; display:block;}
</style>
</head>

<body>
<!-- 顶部 -->
<div id="indextop">
<div class="logo"><a href="index.php"><img src="image/logo.gif" /></a></div>
<div class="topright">
<div class="qq"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=417215092&amp;site=qq&amp;menu=yes" target="_blank">在线客服</a><a href="javascript:window.external.AddFavorite('http://www.zibo3.com', '淄博旮旯爱情公寓')">收藏本站</a></div>
<div class="slogan">
<div align="right">淄博旮旯爱情公寓网是为全国单身男女提供专业婚恋交友平台，摆脱单身成就幸福。</div>
</div> 
</div>
</div>
<!-- 顶部end -->

<!-- 菜单 -->
<div id="menu">
<ul>
<li class="left"></li>
<li><a href="../../index.php" class="home">首页</a></li>
<li><a href="../../space.php?do=home" class="mf">个人中心</a></li>
<li><a href="../../space.php?do=love&p=girl" class="mf">迷人女士</a></li>
<li><a href="../../space.php?do=love&p=man" class="mf">大方绅士</a></li>
<li><a href="../../space.php?do=love" class="mf">同城异性</a></li>
<li><a href="../../cp.php?ac=friend&op=search&all=yes" class="mf">搜索异性</a></li>
<li><a href="../../space.php?do=blog" class="mt">日志</a></li>
<li><a href="../../space.php?do=album" class="mt">相册</a></li>
<li class="right_login">
<a href="/do.php?ac=login" class="login_lo"><img src="/template/default/image/login_lo.gif" border="0" align="absmiddle" /> 登录</a>
<a href="/do.php?ac=register" class="login_zc"><img src="/template/default/image/login_zcimg.gif" border="0" align="absmiddle" /> 注册</a>
</li>
</ul>
</div>
<!-- 菜单end -->

<div id="wrap">

<div id="mainu">
<div id="app_sidebar">
<ul class="app_list" id="default_userapp">
<li><a href="about.html">关于我们</a></li>                
<li><a href="mzsm.html">法律声明</a></li>
<li><a href="ysbh.html">隐私保护</a></li>
<li><a href="gl.html">交友攻略</a></li>
<li><a href="fpmj.html">防骗秘籍</a></li>
<li class="li"><a href="faq.html"><strong>常见问题</strong></a></li>
<li><a href="gy.html">文明公约</a></li>
<li><a href="lxwm.html">联系我们</a></li>
</ul>
</div>

<div id="mainarea">
<ul>
<li><span class='q'>1、问： zibo3.com不是骗人的吧？</span> 
<span class='a'>答： zibo.com创办三年多，从来没有欺骗任何会员，网站资料真实，都是会员自己注册的，您可以看到每个会员的登陆时间；很多人在同城情人网找到了自己的意中情人，不过也有不少失败的，男女比例超过10比1，不可能每个男士都能如愿。我们一直诚信对待会员，很多成功的会员口碑相传，为我们宣传。同城情人网致力于长期、良性发展，为大家提供一个真实、人性化的交友平台。</span></li>

<li><span class='q'>2、问： 可以帮我介绍吗？ </span>
<span class='a'>答： 我们不认识会员，也不了解每个会员的具体情况，所以不参与介绍；都是会员充值换金豆后直接联系对方。</span></li> 

<li><span class='q'>3、问： 怎么样才能看到对方的联系方式？ </span>
<span class='a'>答： 有金豆就可以直接查看对方联系方式或给对方在线留言，同城情人网是尊重女权，女会员在线10个小时后就可以查看到男会员的联系方式。 </span></li>

<li><span class='q'>4、问： 能不能先提供几个试用，我确认一下？</span> 
<span class='a'>答： 我们不提供试用，男女比例悬殊，机会有限，如果都这样提供试用的话，女会员会不堪骚扰的，我们不限金额的，您可以先少充点试试。 </span></li>

<li><span class='q'>5、问： 成功率怎么样，我能找到吗？ </span>
<span class='a'>答： 很多人成功，也不少人很久都没有找到合适的，我们只能提供交友平台，不认识会员，不参与介绍；每个人情况不同，别人是否成功对您并没有太大的参考价值； 至于您能不能成功就要看您的缘分和实力了。 男多女少，一般都是男士充值换金豆主动联系中意的女士，等待女士的主动找您，机会不大。别在等待中错过。</span></li>  

<li><span class='q'>6、问： 如何防骗？ </span>
<span class='a'>答： 请先耐心阅读“防骗秘籍”，那些都是网友的经验之谈；另外自己也需要多加小心，万一被骗了，请向管理员举报，情况属实的，我们会查封骗子的帐号；如果构成犯罪的，请及时报案并保管好证据。希望会员真诚相待，害人之心不可有，防人之心不可无。 </span></li>

<li><span class='q'>7、问： 如何保护自己的隐私或删除注册资料？</span> 
<span class='a'>答： 在“个人中心”->“个人档案”中有“删除帐户”一栏，您可以删除自己的资料；同城情人网还有隐私保护功能，可以隐藏礼物栏，照片栏，文章栏，还可以对头像和联系方式加锁。设置后，对包括VIP在内的任何人都有效 </span></li>

<li><span class='q'>8、问： 如何修改昵称或者用户名？ </span>
<span class='a'>答： 用户名和昵称都不能改，如果大家都改来改去，就谁也不知道谁是谁了，而且重要的不是一个名字，而是您自己，不是吗？</span></li>  

<li><span class='q'>9、问： 有富婆或者有钱的女人吗？</span>  
<span class='a'>答： 基本没有，建议您自力更生，男人就应该去奋斗，否则等白了少年头，只能空悲切！</span></li> 



<h2 class="l_status title">充值、金豆、VIP问题解答</h3>

<li><span class='q'>1、问： 看一个人的联系方式需要多少金豆？ </span>
<span class='a'>答： 同城情人网确保已验证联系方式的真实性， 查看已验证的QQ,邮箱，MSN和其他联系方式一起需要花2颗金豆，查看已验证的手机需要4颗金豆。对于未通过验证的联系方式一律5折，当然未验证的联系方式存在虚假的情况，同城情人网不退还金豆。
如果您购买的是VIP的话，可以发送手写站内信，查看QQ，邮箱,MSN和其他联系方式免费。查看手机是5折优惠。</span></li>  

<li><span class='q'>2、问： 我需要充多少钱？ </span>
<span class='a'>答：我们建议你直接<a href="http://www.zibo3.com/pay.php?pay=buyvip" target="_blank">升级成为VIP</a>，可以随时查看所有异性会员资料。 如果您只是想查看几个人的联系方式，可以根据自己的情况充值任意金额。</span></li> 

<li><span class='q'>3、问： 充值后什么时候有金豆？</span> 
<span class='a'>答： 同城情人网已经开通了网银、支付宝、手机卡等众多在线支付充值方式，都是支付成功，立即到帐。</span></li>  

<li><span class='q'>4、问： 怎么样申请VIP会员？ </span>
<span class='a'>答： 您可以直接购买VIP，进入升级VIP专区后，然后进入付款页面，当您支付完成后，系统会自动将您的同城情人网账户升级为VIP会员。
</span></li>

<li><span class='q'>5、问： VIP会员有哪些权限？</span> 
<span class='a'>答： VIP会员可以在免费查看所有会员email、QQ、msn、手机及其它所有联系方式 + 免费手写站内信，VIP会员按时间收费，不设省份及地域限制，避免重复收费；<a href="http://www.zibo.com/pay.php?ac=vip" target="_blank">查看更多<font color="red">VIP特权</font></a>。</span></li>

<li><span class='q'>6、问： 能不能先借金豆？</span>  
<span class='a'>答： 我们不预借金豆，不管对老会员还是新会员都一样，这也不用急于一时的，等您方便的时候再充值就好了。</span></li>

<li><span class='q'>7、问： 能不能用手机充值，或者用Q币充值可以吗？</span>  
<span class='a'>答： 目前只支持133，153和189这3个号码段，其他号码段的手机还不支持直接扣费，Q币充值也不接受。
如果您手上有小灵通或者是固定电话，可以通过固话V币充值，不需要任何手续费，跟银行卡在线充值一样的兑换比例。这些都是在线充值立即到帐金豆。
</span></li>

<li><span class='q'>8、问： 我没有开通网银和支付宝，怎样支付成为VIP会员方便点？</span>  
<span class='a'>答： 
如果您没有开通网上银行或支付宝，最方便的就是在外面报刊亭或移动营业厅购买神州行充值卡，或者是在网吧购买骏网卡。这些都是在线充值立即到帐金豆。</span></li>

<li><span class='q'>9、问： 我可以直接到银行柜台或柜员机上进行转帐或汇款吗？</span>  
<span class='a'>答： 不可以。银行柜台或柜员机上进行的转帐或汇款，管理员无法确认哪一笔款是由哪一位会员汇款，而且部分汇款不能即时到帐，核查时往往需要比对银行回执等。为了维护广大会员的利益，我们不支持线下汇款。请您开通网银或购买充值卡在线支付升级VIP，详细请阅读上两条。</span></li>

</ul>
</div>
<!--/mainarea-->

<div id="bottom"></div>
</div>
<!--/main-->
<div id="footer">
		
		
		<p class="r_option">
			<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP"><img src="image/top.gif" alt="" style="padding: 5px 6px 6px;" /></a>
		</p>

		<p><a href="../template/default/about.html" target="_blank">关于我们</a>- <a href="../template/default/mzsm.html" target="_blank">法律声明</a>- <a href="../template/default/ysbh.html" target="_blank">隐私保护</a>- <a href="../template/default/gl.html" target="_blank">交友攻略</a>- <a href="../template/default/fpmj.html" target="_blank">防骗秘籍</a>- <a href="../template/default/faq.html" target="_blank">常见问题解答</a>- <a href="../template/default/lxwm.html">联系我们</a>- <a href="../template/default/gy.html" target="_blank">文明公约</a> <a  href="http://www.miibeian.gov.cn" target="_blank">鲁ICP备09179073号</a> </p>
        <p> Powered by <a href="http://www.zibo3.com" target="_blank"><strong>淄博旮旯爱情公寓</strong></a>
            <!--<span title="<!--{eval echo X_RELEASE;}-->
          &quot;&gt;
          <!--{eval echo X_VER;}-->
          </span>--&gt;
            <!--{if !empty($_SCONFIG['licensed'])}-->
          <!--<a  href="http://license.comsenz.com/?pid=7&host=$_SERVER[HTTP_HOST]" target="_blank">Licensed</a>-->
          <!--{/if}-->
  &copy; 2008-2011 <a  href="http://www.zibo3.com" target="_blank">zibo3.com </a>网站建设维护：<a href="http://www.zibo3.com" target="_blank">鲁中数据</a>
  <script language="JavaScript" src="http://s11.cnzz.com/stat.php?id=3401980&amp;web_id=3401980&amp;show=pic" type="text/javascript"></script>
        </p>
        <p> 声明：【淄博旮旯爱情公寓】淄博交友网提供淄博同城交友找情人、淄博婚介所服务，是淄博最专业的同城交友平台，所有会员禁止在本站发布任何色情信息。</p>
</div>
</div>
</body>
</html>
