<!--{if empty($_SGLOBAL['inajax'])}-->
	<!--{if empty($_TPL['nosidebar'])}-->
		<!--{if $_SGLOBAL['ad']['contentbottom']}--><br style="line-height:0;clear:both;"/><div id="ad_contentbottom"><!--{ad/contentbottom}--></div><!--{/if}-->
		</div>
		
		<!--/mainarea-->
		<div id="bottom"></div>
	</div>
	<!--/main-->
	<!--{/if}-->
    
	<div id="footer">
		
		
		<p class="r_option">
			<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP"><img src="image/top.gif" alt="" style="padding: 5px 6px 6px;" /></a>
		</p>
		
		<!--{if $_SGLOBAL['ad']['footer']}-->
		<p style="padding:5px 0 10px 0;"><!--{ad/footer}--></p>
		<!--{/if}-->
			
		<!--{if $_SCONFIG['close']}-->
		<p style="color:blue;font-weight:bold;">
			提醒：当前站点处于关闭状态
		</p>
		<!--{/if}-->
		<p>
			<a href="../template/default/about.html" target="_blank">关于我们</a>- 
			<a href="../template/default/mzsm.html" target="_blank">法律声明</a>- 
		        <a href="../template/default/ysbh.html" target="_blank">隐私保护</a>- 
			<a href="../template/default/gl.html" target="_blank">交友攻略</a>- 
			<a href="../template/default/fpmj.html" target="_blank">防骗秘籍</a>- 
			<a href="../template/default/faq.html" target="_blank">常见问题解答</a>- 
			<a href="../template/default/lxwm.html">联系我们</a>- 
			<a href="../template/default/gy.html" target="_blank">文明公约</a>
			<a  href="http://www.10ss.info" target="_blank">蜀ICP备09179073号</a>
		</p>
		<p>
			Powered by <a href="http://www.10ss.info" target="_blank"><strong>同城交友爱情公寓</strong></a> <!--<span title="<!--{eval echo X_RELEASE;}-->"><!--{eval echo X_VER;}--></span>-->
			<!--{if !empty($_SCONFIG['licensed'])}--><!--<a  href="http://license.comsenz.com/?pid=7&host=$_SERVER[HTTP_HOST]" target="_blank">Licensed</a>--><!--{/if}-->
			&copy; 2008-2011 <a  href="http://www.10ss.info" target="_blank">10ss.info  </a>网站建设维护：<a href="http://www.10ss.info" target="_blank">同城交友</a> 
			<script src="http://s11.cnzz.com/stat.php?id=3401980&web_id=3401980&show=pic" language="JavaScript"></script>
	  </p>
<p>
声明：【同城交友爱情公寓】10ss交友网提供同城交友爱情公寓找情人、同城婚介所服务，是全国最专业的同城交友平台，所有会员禁止在本站发布任何色情信息。</p>
	</div>

</div>
</body>
</html>
</body></noframes>
</html>
<!--{/if}-->