<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>防骗秘籍 - 交友、征婚、相亲、淄博旮旯爱妻公寓专业交友网</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#mainu { margin: 15px 0 0 0; width:960px;height:100%; overflow: hidden; border:1px #e3e3e3 solid; background:url(image/mymenu_bj2.gif) repeat-y left 0}
#mainarea{padding:20px 30px 20px 30px;width:730px;line-height:25px;}
#mainarea li{ text-indent:24px; padding-bottom:5px;}
.title{ display:block;}
</style>
</head>

<body>
<!-- 顶部 -->
<div id="indextop">
<div class="logo"><a href="index.php"><img src="image/logo.gif" /></a></div>
<div class="topright">
<div class="qq"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=417215092&amp;site=qq&amp;menu=yes" target="_blank">在线客服</a><a href="javascript:window.external.AddFavorite('http://www.zibo3.com', '淄博旮旯爱情公寓')">收藏本站</a></div>
<div class="slogan">
<div align="right">淄博旮旯爱情公寓网是为全国单身男女提供专业婚恋交友平台，摆脱单身成就幸福。</div>
</div> 
</div>
</div>
<!-- 顶部end -->

<!-- 菜单 -->
<div id="menu">
<ul>
<li class="left"></li>
<li><a href="../../index.php" class="home">首页</a></li>
<li><a href="../../space.php?do=home" class="mf">个人中心</a></li>
<li><a href="../../space.php?do=love&p=girl" class="mf">迷人女士</a></li>
<li><a href="../../space.php?do=love&p=man" class="mf">大方绅士</a></li>
<li><a href="../../space.php?do=love" class="mf">同城异性</a></li>
<li><a href="../../cp.php?ac=friend&op=search&all=yes" class="mf">搜索异性</a></li>
<li><a href="../../space.php?do=blog" class="mt">日志</a></li>
<li><a href="../../space.php?do=album" class="mt">相册</a></li>
<li class="right_login">
<a href="/do.php?ac=login" class="login_lo"><img src="/template/default/image/login_lo.gif" border="0" align="absmiddle" /> 登录</a>
<a href="/do.php?ac=register" class="login_zc"><img src="/template/default/image/login_zcimg.gif" border="0" align="absmiddle" /> 注册</a>
</li>
</ul>
</div>
<!-- 菜单end -->

<div id="wrap">

<div id="mainu">
<div id="app_sidebar">
<ul class="app_list" id="default_userapp">
<li><a href="about.html">关于我们</a></li>                
<li><a href="mzsm.html">法律声明</a></li>
<li><a href="ysbh.html">隐私保护</a></li>
<li><a href="gl.html">交友攻略</a></li>
<li class="li"><a href="fpmj.html"><strong>防骗秘籍</strong></a></li>
<li><a href="faq.html">常见问题</a></li>
<li><a href="gy.html">文明公约</a></li>
<li><a href="lxwm.html">联系我们</a></li>
</ul>
</div>

<div id="mainarea">
<h3 style="font:bold 14px/32px '宋体';">温馨提示：交友有风险，约会需谨慎!</h3>

<ul>
<li>我们把骗子惯用的技俩列出来，目的是为了提醒大家：交友有风险，约会需谨慎!在大家约会网友之前，请务必细读此防骗秘籍，若情节相似或怀疑遇到了托儿，我们建议您不要冒险前往。</li></ul>
<h3 style="font:bold 14px/32px '宋体';"><font color="red">防骗秘籍1：如何识别托儿</font></h3>
<ul>
<li>1、正经的女孩，一般都比较矜持，绝少在短时间内就要求见面。若是刚建立联系一两天左右就要求见面的，十有八九是托。 </li>
<li>2、酒托吧托饭托，都声称自己不爱上网；因为没有大把时间来陪您聊天；即便陪您聊天了，那也是“键盘手”，和宰您的托儿是两个人。</li>
<li>3、先找你要手机号；但不会主动给你；你若不给，她会气急败坏(因为电话号码是可以google的)。</li>
<li>4、在她指定的地点见面；若要求去别的地方，都以种种理由推辞，比如人太多，比如路太远。你若选择星巴克、一茶一坐或者上岛这类地方来吃饭聊天，她会以种种理由拒绝；</li>
<li>5、等你到了地点，对方迟迟不现身；她正在暗中观察你，是否为警察之类的人等等；她会在电话里详细的问你的穿着，颜色，是否戴眼镜。但不会告诉你她的穿戴情况；</li>
<li>6、你看到的女孩，和照片上的差别会很大；她会邀请你走一走；一路上陪你聊天；让你放松警觉性； </li>
<li>7、走出几步路，看到一个咖啡吧，酒吧或者小店，就声称进去坐一坐；</li>
<li>8、绝大多数人这个时候会想，能消费掉多少钱啊？不就是坐一坐么？但你看了酒水单会发现，这里的东西怎么这么贵？  </li>
<li>9、mm会热情的邀请你来点吃的喝的，服务员会莫名其妙自行拿来一堆小吃、水果放在桌上；聪明的托，会在这个时候要求拿掉几样，以争 取你的信任，放松戒心。</li>
<li>10、服务员会要求你先买单。第一次买单，不会有很多钱；几百块？但好戏应该在后面。随着聊天的进展，mm会很快点第二批，第三批东西，或者叫几个所谓的朋友一起来玩；</li>
<li>11、不论你是否买单，mm都快要找借口走了。如果你已经中招，东西已经都点了，吃了，那报警也没用，警察叔叔没空管这种事情。不要慌，这个时候，人身安全比钱重要。</li></ul>
<h3 style="font:bold 14px/32px '宋体';"><font color="red">防骗秘籍2：如何应对托儿</font></h3>
<ul><li>1、刚认识的朋友，没有经过一段时间的了解，最好不要急于见面；尤其是mm在都不了解你的情况下，迅速、主动提出见面，多半有鬼；</li>
<li>2、拿到手机号、姓名，见面地点，还是应该google一下，或者，打个电话给朋友，请朋友帮你google一下，看看是否有问题。</li>
<li>3、见面后发现真人与照片差别太大，请留心；你完全可以以此作为理由离开；你不会和这个mm做亲戚，无须觉得有任何的不好意思。</li>
<li>4、进店后，菜单自己一定要看一下，要做一下比较；感觉太贵了，完全可以要求离开；</li>
<li>5、如果你没有注意前4条，抱着反正就是一点钱而已的态度，那么就让mm先点单，她点完你再点你自己的。 </li>
<li>6、你只吃、喝自己点的东西。服务员上小吃的时候，你可以拒绝掉。如果对方要求放上，那么摆在桌上的小吃、点心、水果之类的，你不要碰； 你只喝自己的饮料，吃自己点的东西。</li>
<li>7、服务员要求你先买单的时候，请你直接了当的说出来，这里的东西很贵，我们换一家；你既不会和mm做亲戚，更不会和黑店老板做亲戚。</li>
<li>8、当你发现收费昂贵的时候，请你大声的说出来，各买各的，谁点的谁买。你把自己点的那份钱放下来，或者多放个十块二十的，请大步离开。 没人敢拦你。 </li>
<li>9、如果以上你还是没有做到，且做好了要为托儿买单的打算，那么她再次点单的时候，你一定要过问价格；很多时候，托会很快喝掉饮料，然后询问你，能否再喝点什么。由于你之前已经买单，此时托会迅速的点一些昂贵的饮料。</li>
<li>10、你要坚持，谁点的，谁买；谁吃的谁买；没有哪条法律规定，必须由你来买单。</li>
<li>11、如果你坚持，至少可以坚持到AA这个局面，只要你坚持，就没有人可以奈何得了你。必要的时候，你可以报警。但买单后走出门了再报警， 基本上等于白报。 </li>
</ul>
<h3 style="font:bold 14px/32px '宋体';"><font color="red">防骗秘籍3：总结教训</font></h3>
<ul><li>1、正经的女孩子，在不了解你的情况下，也不会来见你的； </li>
<li>2、正经的女孩子，既然来见你，自然是抱着希望，或者试试看的态度，不会来宰你的； </li>
<li>3、正常的见面、约会，mm会听从你的安排，或者提议去一些公众熟悉的场所；  </li>
<li>4、正经的女孩和你见面，不会选择在自己家的附近； </li>
<li>5、和正经的女孩见面，你不会有类似于特务接头的感觉； </li>
<li>6、如果你心肠软，忍气吞声了，那么请吃一堑长一智。 </li>
<li>记住啊：就算见了网友要吃饭或者喝茶就去KFC或者麦当劳，那些地方绝对不会宰你，要睡觉就去连锁酒店也绝对不会宰你，要买东西直接去大型超市也绝对不会宰你，最后祝大家交友愉快。谢谢！
</ul>
</div>
<!--/mainarea-->

<div id="bottom"></div>
</div>
<!--/main-->

<div id="footer">
		
		
		<p class="r_option">
			<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP"><img src="image/top.gif" alt="" style="padding: 5px 6px 6px;" /></a>
		</p>

		<p><a href="../template/default/about.html" target="_blank">关于我们</a>- <a href="../template/default/mzsm.html" target="_blank">法律声明</a>- <a href="../template/default/ysbh.html" target="_blank">隐私保护</a>- <a href="../template/default/gl.html" target="_blank">交友攻略</a>- <a href="../template/default/fpmj.html" target="_blank">防骗秘籍</a>- <a href="../template/default/faq.html" target="_blank">常见问题解答</a>- <a href="../template/default/lxwm.html">联系我们</a>- <a href="../template/default/gy.html" target="_blank">文明公约</a> <a  href="http://www.miibeian.gov.cn" target="_blank">鲁ICP备09179073号</a> </p>
        <p> Powered by <a href="http://www.zibo3.com" target="_blank"><strong>淄博旮旯爱情公寓</strong></a>
            <!--<span title="<!--{eval echo X_RELEASE;}-->
          &quot;&gt;
          <!--{eval echo X_VER;}-->
          </span>--&gt;
            <!--{if !empty($_SCONFIG['licensed'])}-->
          <!--<a  href="http://license.comsenz.com/?pid=7&host=$_SERVER[HTTP_HOST]" target="_blank">Licensed</a>-->
          <!--{/if}-->
  &copy; 2008-2011 <a  href="http://www.zibo3.com" target="_blank">zibo3.com </a>网站建设维护：<a href="http://www.zibo3.com" target="_blank">鲁中数据</a>
  <script language="JavaScript" src="http://s11.cnzz.com/stat.php?id=3401980&amp;web_id=3401980&amp;show=pic" type="text/javascript"></script>
        </p>
        <p> 声明：【淄博旮旯爱情公寓】淄博交友网提供淄博同城交友找情人、淄博婚介所服务，是淄博最专业的同城交友平台，所有会员禁止在本站发布任何色情信息。</p>
</div>
</div>
</body>
</html>