<!--{if empty($_SGLOBAL['inajax'])}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=$_SC[charset]" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta name="Description" content="白领精英社区，最安全、最便捷、最好的交友平台" />
<meta name="Keywords" content="http://www.16okok.com" />
<title><!--{if !empty($_SGLOBAL['member']['newpm'])}-->【新消息】<!--{/if}--><!--{if $_TPL['titles']}--><!--{loop $_TPL['titles'] $value}--><!--{if $value}-->$value - <!--{/if}--><!--{/loop}--><!--{/if}--><!--{if $space}-->{$_SN[$space[uid]]} - <!--{/if}-->$_SCONFIG[sitename]-快速、安全、便捷的互动式交友平台</title>
<script language="javascript" type="text/javascript" src="source/script_cookie.js"></script>
<script language="javascript" type="text/javascript" src="source/script_common.js"></script>
<script language="javascript" type="text/javascript" src="source/script_menu.js"></script>
<script language="javascript" type="text/javascript" src="source/script_ajax.js"></script>
<script language="javascript" type="text/javascript" src="source/script_face.js"></script>
<script language="javascript" type="text/javascript" src="source/script_manage.js"></script>
<style type="text/css">
<!--{if !empty($_SGLOBAL['space_theme'])}-->
@import url(template/default/style.css);
@import url(theme/$_SGLOBAL[space_theme]/style.css);
<!--{else}-->
@import url(template/$_SCONFIG[template]/style.css);
<!--{/if}-->
<!--{if !empty($_SGLOBAL['space_css'])}-->
$_SGLOBAL[space_css]
<!--{/if}-->
</style>
<link rel="shortcut icon" href="image/favicon.ico" />
<link rel="edituri" type="application/rsd+xml" title="rsd" href="xmlrpc.php?rsd=$space[uid]" />
<style type="text/css">
<!--
.STYLE1 {color: #FFFFFF}
-->
</style>
</head>
<body oncontextmenu=window.event.returnValue=false >
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

	<div id="header">
	<!--{if $_SGLOBAL['ad']['header']}--><div id="ad_header"><!--{ad/header}--></div><!--{/if}-->
	<div class="headerwarp">
		<h1 class="logo"><a href="space.php?do=home"><img src="$_SCONFIG[sitelogo]" alt="$_SCONFIG[sitename]" /></a></h1>
		<ul class="menu">
		<!--{if $_SGLOBAL[supe_uid]}-->
			<li><a href="space.php?do=home">首页</a></li>
			<li><a href="space.php">个人主页</a></li>
			<li><a href="network.php">同城异性在线</a></li>	
			<li><a href="cp.php?ac=invite">赚积分换VIP</a></li>
                        <li><a href="pay.php?ac=vip">升级VIP</a></li>	
			<li><a href="cp.php?ac=profile">个人资料</a></li>
				<li><!--{if $_SCONFIG[viplookinfo] == 1 and $vips[day] > 0}--><a href="network.php?username=&name=&sex=0&birthyear=0&birthmonth=0&birthday=0&blood=&marry=0&birthprovince=%B9%E3%B6%AB&birthcity=&resideprovince=&residecity=&qq=&msn=&startage=&endage=&fieldid=0&fieldname=&ac=space&searchmode=1&findsubmit=%D5%D2%C8%CB">VIP站内搜索</a><!--{else}--><a href="pay.php?ac=vip" target ="_blank"><font color ="#ff0000">VIP可搜索</font></a><!--{/if}--></li>
		<!--{else}-->

		<!--{/if}-->
			
		<!--{if $_SGLOBAL['appmenu']}-->
			<!--{if $_SGLOBAL['appmenus']}-->
			<li class="dropmenu" id="ucappmenu" onmouseover="showMenu(this.id)">
				<a href="{$_SGLOBAL[appmenu][url]}" title="{$_SGLOBAL[appmenu][name]}" target="_blank">{$_SGLOBAL[appmenu][name]}</a>
			</li>
			<!--{else}-->
			<li><a href="{$_SGLOBAL[appmenu][url]}" title="{$_SGLOBAL[appmenu][name]}" target="_blank">{$_SGLOBAL[appmenu][name]}</a></li>
			<!--{/if}-->
		<!--{/if}-->
		
		<!--{if $_SGLOBAL[supe_uid]}-->
			<li><a href="space.php?do=pm">消息<!--{if !empty($_SGLOBAL['member']['newpm'])}-->(新)<!--{/if}--></a></li>
			<!--{if !empty($_SGLOBAL['member']['notenum'])}--><li class="notify"><a href="space.php?do=notice">{$_SGLOBAL['member']['notenum']}条新通知</a></li><!--{/if}-->
		<!--{else}-->
		<!--{/if}-->
		</ul>
		
		<div class="nav_account">
		  <div align="left">
		  <!--{if $_SGLOBAL[supe_uid]}-->
			<a href="space.php?uid=$_SGLOBAL[supe_uid]" class="login_thumb"></a>
			<a href="space.php?uid=$_SGLOBAL[supe_uid]" class="loginName">{$_SN[$_SGLOBAL[supe_uid]]}</a>
			<!--{if $_SN[$_SGLOBAL[supe_uid]]!=$_SGLOBAL['username']}-->
			($_SGLOBAL[supe_username])
			<!--{/if}-->
            <!--{if $vips[ztime] > 0}-->
		    <a href="pay.php?ac=vip"><img src="image/pay/vip.gif" alt="VIP会员:$vips[day]天" border="0" align="absmiddle" /></a>
			<!--{else}-->
			<a href="pay.php?ac=vip" target="_blank"><img src="image/pay/vip2.gif" alt="未激活" border="0" align="absmiddle" /></a>
			<!--{/if}-->			
            <br />
            <a href="cp.php?ac=common&op=logout">退出</a>
		    <!--{else}-->
					</br>
		            <font color="#990000"><a href="#" target="_self" onclick="javascript:window.external.AddFavorite('http://www.10ss.info/index.php', '同城交友')">加入收藏夹以备随时访问</a></font>
            <!--{/if}-->
            			
	      </div>
	  </div>
	  </div>
	</div>

	<div id="wrap">

	<!--{if empty($_TPL['nosidebar'])}-->
	<div id="main">
		<div id="app_sidebar">
		<!--{if $_SGLOBAL[supe_uid]}-->
			<ul class="app_list" id="default_userapp">

			<li><img src="image/app/doing.gif"><a href='index.php' target="_blank">网站须知</a></li>	
			<li>如何成为VIP？</li><li>系统一个月随机抽取</li><li>一个经常登陆的会员</li><li>成为VIP.如果您想尽</li>
			<li>快找到自己满意之人</li><li>请及时充值成为</li><li>VIP，越早充值越好</li>
			
			<!--{if $_SCONFIG['my_status']}-->
				<!--{loop $_SGLOBAL['userapp'] $value}-->
				<li><img src="http://appicon.manyou.com/icons/$value[appid]"><a href="userapp.php?id=$value[appid]">$value[appname]</a></li>
				<!--{/loop}-->
			<!--{/if}-->
			</ul>
			
			<!--{if $_SCONFIG['my_status']}-->
			<ul class="app_list" id="my_userapp">
				<!--{loop $_SGLOBAL['my_menu'] $value}-->
				<li id="userapp_li_$value[appid]"><img src="http://appicon.manyou.com/icons/$value[appid]"><a href="userapp.php?id=$value[appid]" title="$value[appname]">$value[appname]</a></li>
				<!--{/loop}-->
			</ul>
			<!--{/if}-->
			
			<!--{if $_SGLOBAL['my_menu_more']}-->
			<p class="app_more"><a href="javascript:;" id="a_app_more" onclick="userapp_open();" class="off">展开</a></p>
			<!--{/if}-->
	<!--		<img src="/image/cebian.jpg"> -->
			<!--{if $_SCONFIG['my_status']}-->
			<div class="app_m">
				<ul>
					<li><img src="image/app_add.gif"><a href="cp.php?ac=userapp&my_suffix=%2Fapp%2Flist" class="addApp">添加应用</a></li>
					<li><img src="image/app_set.gif"><a href="cp.php?ac=userapp&op=menu" class="myApp">管理应用</a></li>
				</ul>
			</div>
			<!--{/if}-->
		
		<!--{else}-->
			<div class="bar_text">
				<form id="loginform" name="loginform" action="do.php?ac=$_SCONFIG[login_action]&ref" method="post">
				<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
					<p class="title">登录站点</p>
					<p>用户名</p>
					<p><input type="text" name="username" id="username" class="t_input" size="15" value="" /></p>
					<p>密码</p>
					<p><input type="password" name="password" id="password" class="t_input" size="15" value="" /></p>
					<p><input type="checkbox" id="cookietime" name="cookietime" value="315360000" checked /><label for="cookietime">记住我</label></p>
					<p>
						<input type="submit" id="loginsubmit" name="loginsubmit" value="登录" class="submit"  />
						<a href="do.php?ac=$_SCONFIG[register_action]" class="button">注册</a>
					</p>
				</form>
			</div>
		<!--{/if}-->
		</div>

		<div id="mainarea">
		
		<!--{if $_SGLOBAL['ad']['contenttop']}--><div id="ad_contenttop"><!--{ad/contenttop}--></div><!--{/if}-->
	<!--{/if}-->

<!--{/if}-->
