<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>法律声明 - 交友、征婚、相亲、淄博旮旯爱妻公寓专业交友网</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#mainu { margin: 15px 0 0 0; width:960px;height:100%; overflow: hidden; border:1px #e3e3e3 solid; background:url(image/mymenu_bj2.gif) repeat-y left 0}
#mainarea{padding:20px 30px 20px 30px;width:730px;line-height:25px;}
#mainarea li{ text-indent:24px; padding-bottom:5px;}
</style>
</head>

<body>
<!-- 顶部 -->
<div id="indextop">
<div class="logo"><a href="index.php"><img src="image/logo.gif" /></a></div>
<div class="topright">
<div class="qq"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=417215092&amp;site=qq&amp;menu=yes" target="_blank">在线客服</a><a href="javascript:window.external.AddFavorite('http://www.zibo3.com', '淄博旮旯爱情公寓')">收藏本站</a></div>
<div class="slogan">
<div align="right">淄博旮旯爱情公寓网是为全国单身男女提供专业婚恋交友平台，摆脱单身成就幸福。</div>
</div> 
</div>
</div>
<!-- 顶部end -->

<!-- 菜单 -->
<div id="menu">
<ul>
<li class="left"></li>
<li><a href="../../index.php" class="home">首页</a></li>
<li><a href="../../space.php?do=home" class="mf">个人中心</a></li>
<li><a href="../../space.php?do=love&p=girl" class="mf">迷人女士</a></li>
<li><a href="../../space.php?do=love&p=man" class="mf">大方绅士</a></li>
<li><a href="../../space.php?do=love" class="mf">同城异性</a></li>
<li><a href="../../cp.php?ac=friend&op=search&all=yes" class="mf">搜索异性</a></li>
<li><a href="../../space.php?do=blog" class="mt">日志</a></li>
<li><a href="../../space.php?do=album" class="mt">相册</a></li>
<li class="right_login">
<a href="/do.php?ac=login" class="login_lo"><img src="/template/default/image/login_lo.gif" border="0" align="absmiddle" /> 登录</a>
<a href="/do.php?ac=register" class="login_zc"><img src="/template/default/image/login_zcimg.gif" border="0" align="absmiddle" /> 注册</a>
</li>
</ul>
</div>
<!-- 菜单end -->

<div id="wrap">

<div id="mainu">
<div id="app_sidebar">
<ul class="app_list" id="default_userapp">
<li><a href="about.html">关于我们</a></li>                
<li class="li"><a href="mzsm.html"><strong>法律声明</strong></a></li>
<li><a href="ysbh.html">隐私保护</a></li>
<li><a href="gl.html">交友攻略</a></li>
<li><a href="fpmj.html">防骗秘籍</a></li>
<li><a href="faq.html">常见问题</a></li>
<li><a href="gy.html">文明公约</a></li>
<li><a href="lxwm.html">联系我们</a></li>
</ul>
</div>

<div id="mainarea">
<h3 style="font:bold 14px/32px '宋体';">淄博旮旯爱情公寓免责条款:</h3>
  <ul>
<li>1、用户在本站注册属自愿行为，本站会对用户注册信息进行常规验证，但不保证其注册信息的真实性，对虚假注册信息不承担任何责任。虚假或违规注册用户将逐出本站，欢迎网友进行举报。用户在本站用他人资料注册的，如果发现可及时通知本站删除，本站不对此承担任何责任。多次严重违规或发布非法信息管理员有权删除该 用户ID并禁止访问且不另行通知，请珍惜您的帐号。本站有权修改和删除违规用户的所有注册资料。</li>

<li>2、会员自己在本站发布信息与本站无关，本网站不承担任何责任。任何 会员不得在本站发布任何政治性言论和色情内容以及图片，不得利用本站发布性交易信息，违者本站删除所发布的违法信息，并交公安机关处理，本站对网友发布的任何言论不承担责任。本站有权删除用户在本站发表的任何违规文章或图片。</li>
<li>3、对于用户上传的照片、资料、证件等，本网站已采用相关措施进行审核，但不保证其内容的正确性、合法性或可靠性，相关责任由上传上述内容的用户负责。<br />
</li>
<li>4、本网站不担保其提供的服务一定能满足所有用户的要求和期望，也不担保服务不会中断，对服务的及时性、安全性、出错发生都不作担保。
由于不可抗拒的原因，如自然灾害、断电、黑客袭击等造成用户信息丢失包括账户信息丢失的，本站不承担赔偿责任。本站有权修改网站内容和网站结构以及服务条款和服务内容，任何变更不征求用户的同意，不承担由此造成的任何损失和责任。</li>
<li>4、用户以自己的独立判断从事与交友相关的行为属个人行为，并独立承担可能产生的不利后果和责任，本网站不承担任何法律责任。用户之间相互联系、见面等行为均与本站无关，用户之间发生违法、犯罪、侵权等事件与本站无关， 本网站不承担任何责任。本网站对双方交友过程中发生的任何纠纷不承担任何直接责任或连带责任。</li>
<li>5、本网站对所有用户自发组织的活动、自发成立的组织不承担任何责任。<br />
</li>
<li>6、对于用户的投诉，本网站将认真核实积极处理，但不保证最终公之于众的投诉的真实性、合法性，对于投诉内容侵犯用户隐私权、名誉权等合法权利的，所有法律责任由投诉者承担，与本网站无关。</li>
<li>7、尽管本网站已采取相应的技术保障措施，但用户仍有可能收到各类的广告信（本网站发送的广告信除外）或其他不以交友为目的邮件，本网站不承担责任。</li>
<li>8、对于本网站提供的各种广告信息、链接、资讯等，本网站不保证其内容的正确性、合法性或可靠性，相关责任由广告商承担；并且，对于用户经由本网站与广告商进行联系或商业往来，完全属于用户和广告商之间的行为，与本网站没有任何关系。对于前述商业往来所产生的任何损害或损失，本网站不承担任何责任。</li>
<li>9、会员自己在其它网站注册、发布信息与本站无关，本网站不承担任何责任。任何个人和机构不得将本网站会员信息或联系方式发布在其它网站或告诉他人；任何个人或机构将本站会员信息或联系方式发布在其它网站或告诉他人的，侵权人需承担由此造成的任何法律责任和赔偿。</li>
<li>10、本网站只为会员提供注册和相互查看注册资料的网络信息平台，本网站不参与除此之外的任何事务。会员应本着诚信、守法的原则交往。超出本网站服务范围的言语和行为，本网站不承担任何责任。
</li>
</ul>
<h3 style="font:bold 14px/32px '宋体';">禁止从事下列行为:</h3>
<ul><li>1、用户同意将不会利本网站服务进行任何违法或不正当的活动，包括但不限于下列行为：发布信息或者利用本网站服务时必须符合中国有关法规，不得在本网站的网页上或者利用本网站的服务制作、复制、发布、传播以下信息：反对宪法所确定的基本原则的；危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；损害国家荣誉和利益的；煽动民族仇恨、民族歧视、破坏民族团结的；破坏国家宗教政策，宣扬邪教和封建迷信的；散布谣言，扰乱社会秩序，破坏社会稳定的；散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；侮辱或者诽谤他人，侵害他人合法权利的；含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；含有中国法律、法规、规章、条例以及任何具有法律效力的规范所限制或禁止的其它内容的。</li>
  <li>
2、冒充任何他人或机构，包含但不限于冒充本网站工作人员、客服，或以虚伪不实的方式陈述或谎称与任何人或机构有关的。
  <li>
        3、将侵犯任何人的肖像权、名誉权、隐私权、专利权、商标权、著作权、商业秘密或其它专属权利的内容上载、张贴、发送电子邮件或以其它方式传送的。
  <li>
        4、将病毒或其它计算机代码、档案和程序，加以上载、张贴、发送电子邮件或以其它方式传送的。
  <li>
        5、在注册时公布虚假的、不完整的或不准确的简历资料。或公布不以征友为目的的信息的，如意见、通知、商业广告或其他内容。
  <li>
        6、擅自删除或修改任何其他个人公布的资料。擅自打印、复制或使用有关注册会员的任何个人资料。未经公布信息者本人同意，给公布信息的个人发电子邮件、打电话、寄信或进行其他任何形式的接触。
  <li>
        7、未经合法授权而截获、篡改、收集、储存或删除他人个人信息、电子邮件或其它数据资料，或将获知的此类资料用于任何非法或不正当目的。
  <li>
        8、本网站的竞争同行或者是其他不相关人员以参加本网站会员活动的形式取得、参考、模仿本网站会员活动的任何信息、资料。
  <li>
        9、本公司的竞争同行用此方法寻求与本网站注册会员的联系或者使用本网站注册会员的任何资料用于任何用途。本公司的竞争同行用此方法参考、复制、模仿、仿制、篡改本网站发布、策划、组织的任何活动（包括但不限于活动主题、创意、形式等一系列内容）。
  <li>
        10、在任何情况下，如果本网站有理由认为用户的任何行为，包括但不限于用户的任何言论和其它行为违反或可能违反上述规定和法律的规定，本网站可在任何时候不经任何事先通知终止向该用户提供服务。</li></ul>

<h3 style="font:bold 14px/32px '宋体';">版权</h3>
<ul>
  <li>
  1本网站上显示的所有内容（包括但不限于会员资料、照片、网站活动公告等）及图片等受《中华人民共和国著作权法》及相关法律法规和中国加入的所有知识产权方面的国际条约的保护。本网站对网站内容享有完整的著作权，未经允许，任何个人或组织不得以任何形式复制和采用。</li>
  <li>
              2、请勿擅自复制或采用本网站所创造的用以制成网页的HTML。本网站对其HTML享有著作权。同时，本网站对其网址上的所有图标、图饰、图表、色彩、文字表述及其组合、版面设计、数据库均享有完全的著作权，对发布的信息均享有专有的发布和使用权，未经本网站同意，不得擅自复制、使用或转载。</li>
 </ul>
</div>
<!--/mainarea-->

<div id="bottom"></div>
</div>
<!--/main-->
<div id="footer">
		
		
		<p class="r_option">
			<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP"><img src="image/top.gif" alt="" style="padding: 5px 6px 6px;" /></a>
		</p>

		<p><a href="../template/default/about.html" target="_blank">关于我们</a>- <a href="../template/default/mzsm.html" target="_blank">法律声明</a>- <a href="../template/default/ysbh.html" target="_blank">隐私保护</a>- <a href="../template/default/gl.html" target="_blank">交友攻略</a>- <a href="../template/default/fpmj.html" target="_blank">防骗秘籍</a>- <a href="../template/default/faq.html" target="_blank">常见问题解答</a>- <a href="../template/default/lxwm.html">联系我们</a>- <a href="../template/default/gy.html" target="_blank">文明公约</a> <a  href="http://www.miibeian.gov.cn" target="_blank">鲁ICP备09179073号</a> </p>
        <p> Powered by <a href="http://www.zibo3.com" target="_blank"><strong>淄博旮旯爱情公寓</strong></a>
            <!--<span title="<!--{eval echo X_RELEASE;}-->
          &quot;&gt;
          <!--{eval echo X_VER;}-->
          </span>--&gt;
            <!--{if !empty($_SCONFIG['licensed'])}-->
          <!--<a  href="http://license.comsenz.com/?pid=7&host=$_SERVER[HTTP_HOST]" target="_blank">Licensed</a>-->
          <!--{/if}-->
  &copy; 2008-2011 <a  href="http://www.zibo3.com" target="_blank">zibo3.com </a>网站建设维护：<a href="http://www.zibo3.com" target="_blank">鲁中数据</a>
  <script language="JavaScript" src="http://s11.cnzz.com/stat.php?id=3401980&amp;web_id=3401980&amp;show=pic" type="text/javascript"></script>
        </p>
        <p> 声明：【淄博旮旯爱情公寓】淄博交友网提供淄博同城交友找情人、淄博婚介所服务，是淄博最专业的同城交友平台，所有会员禁止在本站发布任何色情信息。</p>
</div>
</div>
</body>
</html>