<!--{template header}-->
<style type="text/css">
<!--
#stk {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FF6600;
	border-right-color: #FF6600;
	border-bottom-color: #FF6600;
	border-left-color: #FF6600;
	height: 25px;
	width: 65px;
	line-height: 25px;
	text-align: center;
	background-color: #FF9900;
	text-indent: 5px;
	display: block;
	color: #FFFFFF;
}
#stk a {
	color: #FFFFFF;
}
.spaf {
padding: 20px 0; color: #666; font-size: 12px;
}
.tts {
	border: 1px solid #CCCCCC;
	line-height: 15px;
	height: 15px;
	vertical-align: middle;
	font-size: 13px;
	text-align: center;
}
.STYLE2 {padding: 20px 0; color: #666; font-size: 12px; font-weight: bold; }
-->
</style>
<h2 class="title"><img src="image/credit.gif">支付中心</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li$actives[index]><a href="pay.php?ac=index"><span>积分充值</span></a></li>
		<li$actives[vip]><a href="pay.php?ac=vip"><span>VIP特权</span></a></li>
		<li$actives[list]><a href="pay.php?ac=list"><span>交易明细</span></a></li>
		<!--{if $adid}-->
		<li$actives[userlist]><a href="pay.php?ac=userlist"><span>会员管理</span></a></li>
		<li$actives[config]><a href="pay.php?ac=config"><span>充值配置</span></a></li>
		<li$actives[vipconfig]><a href="pay.php?ac=vipconfig"><span>VIP功能配置</span></a></li>
		<li$actives[cfhelp]><a href="pay.php?ac=cfhelp"><font color="#0000ff"><span>系统帮助</span></font></a></li>
		<li$actives[update]><a href="pay.php?ac=update"><font color="#cc00000"><span>版本升级</span></font></a></li>
		<!--{else}-->

		<li$actives[cfhelp]><a href="{$_SCONFIG[pay_help]}" target="_blank"><font color="#0000ff"><span>充值帮助</span></font></a></li>
		<!--{/if}-->
	</ul>
</div>
<table border="0" align="right">
  <tr>
    <td width="185" height="48" align="center">	
	 <strong> <!--{if $space[groupid] == $_SCONFIG[vipapp]}-->
      <font color="#666666">VIP状态:$v_day[day] 天</font>		
		  <img src="image/pay/vip.gif" alt="VIP会员:$v_day[day]天" border="0" align="absmiddle" />
			<!--{else}-->
      <font color="#666666">VIP状态:未激活</font>	<img src="image/pay/vip2.gif" alt="未激活" border="0" align="absmiddle" />
			<!--{/if}--></strong><br />
    用户:<strong> $space[username]</strong> 积分:<span style="color: #FF0000;font-weight: bold;">$space[credit]</span>   </font> </td>
  </tr>
</table>
<br />

<!--{if $pay == ''}-->
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
		      <caption>
      <h2>在线充值</h2>
	  
        </caption>
 <!--<!--{if $_SCONFIG[appay] != ''}-->
  <tr>
    <td width="150" align="center"><a href="pay.php?pay=appay" target="_blank"><img src="image/pay/alipay.jpg" width="125" height="50" border="0" /></a></td>
    <td><table cellspacing="0" cellpadding="0" class="formtable">
      <caption>
      <h2>支付宝 - $_SCONFIG[aps]%手续费</h2>
        <p>&nbsp;&nbsp;&nbsp$_SCONFIG[apnote]
</p>
        </caption>
      <tr>
        <th width="120"></th>
        <td></td>
      </tr>

      <tr>
        <td colspan="2" align="left"><div class="submit" id="stk"><a href="pay.php?pay=appay" target="_blank">我要充值</a> </div>       </td>
        </tr>
    </table></td>
  </tr>
      <tr>
        <td height="1" colspan="2" bgcolor="#FF9900"></td>
      </tr>
	  
		<!--{/if}-->
<!--{if $_SCONFIG[tenpay] != ''}-->
  <tr>
    <td width="150" align="center"><a href="pay.php?pay=tenpay" target="_blank"><img src="image/pay/tpay.jpg" width="125" height="50" border="0" /></a></td>
    <td><table cellspacing="0" cellpadding="0" class="formtable">
      <caption>
      <h2>财付通 - $_SCONFIG[tps]%手续费</h2>
        <p>&nbsp;&nbsp;&nbsp$_SCONFIG[tpnote]</p>
        </caption>
      <tr>
        <th width="120"></th>
        <td></td>
      </tr>

      <tr>
        <td colspan="2" align="left"><div class="submit" id="stk"><a href="pay.php?pay=tenpay" target="_blank">我要充值</a> </div>       </td>
        </tr>
    </table></td>
  </tr>
      <tr>
        <td height="1" colspan="2" bgcolor="#FF9900"></td>
      </tr>
	  
		<!--{/if}-->
		
		<!--{if $_SCONFIG[cbankpay] != ''}-->
	   <tr>
    <td align="center"><a href="pay.php?pay=chinabank" target="_blank"><img src="image/pay/bankpay.gif" width="125" height="50" border="0" /></a></td>
    <td><table cellspacing="0" cellpadding="0" class="formtable">
      <caption>
      <h2>网银在线 - $_SCONFIG[cbs]%手续费</h2>
        <p>&nbsp;&nbsp&nbsp$_SCONFIG[cbnote]</p>
        </caption>
      <tr>
        <th width="120"></th>
        <td></td>
      </tr>

      <tr>
        <td colspan="2" align="left"><div class="submit" id="stk"><a href="pay.php?pay=chinabank" target="_blank">我要充值</a> </div> </td>
        </tr>
    </table></td>
  </tr>
 
      <tr>
        <td height="1" colspan="2" bgcolor="#FF9900"></td>
      </tr>
		<!--{/if}-->
		 -->
		<!--{if $_SCONFIG[clpay] != ''}-->
  <tr>
    <td width="150" align="center"><a href="pay.php?pay=clpay" target="_blank"><img src="image/pay/callback.jpg" border="0" /></a></td>
    <td><table cellspacing="0" cellpadding="0" class="formtable">
      <caption>
      <h2>神州行手机卡充值 - $_SCONFIG[cls]%手续费</h2>
        <p>&nbsp;&nbsp;&nbsp$_SCONFIG[clnote]</p>
        </caption>
      <tr>
        <th width="120"></th>
        <td></td>
      </tr>

      <tr>
        <td colspan="2" align="left"><div class="submit" id="stk"><a href="pay.php?pay=clpay" target="_blank">我要充值</a> </div>       </td>
        </tr>
    </table></td>
  </tr>
      <tr>
        <td height="1" colspan="2" bgcolor="#FF9900"></td>
      </tr>
	  
		<!--{/if}-->
		<!--{if $_SCONFIG[clbpay] != ''}-->
  <tr>
    <td width="150" align="center"><a href="pay.php?pay=clbpay" target="_blank"><img src="image/pay/callbank.jpg" border="0" /></a></td>
    <td><table cellspacing="0" cellpadding="0" class="formtable">
      <caption>
      <h2>网上银行在线充值 - $_SCONFIG[clbs]%手续费</h2>
        <p>&nbsp;&nbsp;&nbsp$_SCONFIG[clbnote]</p>
        </caption>
      <tr>
        <th width="120"></th>
        <td></td>
      </tr>

      <tr>
        <td colspan="2" align="left"><div class="submit" id="stk"><a href="pay.php?pay=clbpay" target="_blank">我要充值</a> </div>       </td>
        </tr>
    </table></td>
  </tr>
      <tr>
        <td height="1" colspan="2" bgcolor="#FF9900"></td>
      </tr>
	  
		<!--{/if}-->
		 <!--
		<!--{if $_SCONFIG[pppay] != ''}-->
  <tr>
    <td width="150" align="center"><a href="pay.php?pay=pppay" target="_blank"><img src="image/pay/paypal.gif" width="145" height="55" border="0" /></a></td>
    <td><table cellspacing="0" cellpadding="0" class="formtable">
      <caption>
      <h2>PayPal(海外专用) - $_SCONFIG[pps]%手续费</h2>
        <p>&nbsp;&nbsp;&nbsp$_SCONFIG[ppnote]</p>
        </caption>
      <tr>
        <th width="120"></th>
        <td></td>
      </tr>

      <tr>
        <td colspan="2" align="left"><div class="submit" id="stk"><a href="pay.php?pay=pppay" target="_blank">我要充值</a> </div>       </td>
        </tr>
    </table></td>
  </tr>
      <tr>
        <td height="1" colspan="2" bgcolor="#FF9900"></td>
      </tr>
	  
		<!--{/if}-->
		-->
</table>
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
		      <caption>
      <h2>升级VIP功能</h2>
        </caption>
<!--{if $_SCONFIG[vipcls] != ''}-->

  <tr>
    <td width="150" align="center"><a href="pay.php?pay=buyvip" target="_blank"><img src="image/pay/vippay.jpg" border="0" /></a></td>
    <td><table cellspacing="0" cellpadding="0" class="formtable">
      <caption>
      <h2>购买VIP</h2>
        <p>&nbsp;&nbsp&nbsp$_SCONFIG[clsnote] <br />
          &nbsp;&nbsp&nbsp<a href="pay.php?ac=vip" target="_blank">查看VIP特权</a></p>
        </caption>
      <tr>
        <th width="120"></th>
        <td></td>
      </tr>

      <tr>
        <td align="left"><div class="submit" id="stk"><a href="pay.php?pay=buyvip" target="_blank">我要购买</a> </div>     </td>
        </tr>
    </table></td>
  </tr>
      <tr>
        <td height="1" colspan="2" bgcolor="#FF9900"></td>
      </tr>
		<!--{/if}-->
		
<!--{if $_SCONFIG[ctvip] == 1}-->
  <tr>
    <td align="center"><a href="pay.php?pay=ctvip" target="_blank"><img src="image/pay/vippay1.jpg" border="0" /></a></td>
    <td><table cellspacing="0" cellpadding="0" class="formtable">
      <caption>
      <h2>积分兑换VIP</h2>
        <p>&nbsp;&nbsp&nbsp$_SCONFIG[jfnote]<br />
          &nbsp;&nbsp&nbsp<a href="pay.php?ac=vip" target="_blank">查看VIP特权</a></p>
        </caption>
      <tr>
        <th width="120"></th>
        <td></td>
      </tr>

      <tr>
        <td colspan="2" align="left"><div class="submit" id="stk"><a href="pay.php?pay=ctvip" target="_blank">我要兑换</a> </div>     </td>
        </tr>
    </table></td>
  </tr>
      <tr>
        <td height="1" colspan="2" bgcolor="#FF9900"></td>
      </tr>
		<!--{/if}-->
</table>
		<!--{elseif $pay == 'appay'}-->
		<table border="0" align="right">
  <tr>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第一步<br />
     输入金额</font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第二步<br />
     在线支付     </font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第三步<br />
    完成充值   </font></strong> </td>
  </tr>
</table>
<br />

		<table width="98%" border="0" class="formtable">
		      <caption>
      <h2>在线充值 - 支付宝$_SCONFIG[aps]%手续费</h2>
	  
        <p>&nbsp;&nbsp&nbsp 充值成功后，系统将会向 $space[username] 的账号自动充入积分，
无需等待，即时生效！</p>
        </caption>
<tr>
      <td width="130" height="25" align="center"><span class="spaf" style="font-weight: bold">用 户 名</span></td>
      <td width="629" class="spaf">$space[username] (我的积分:<span style="color: #FF0000;font-weight: bold;">$space[credit]</span>积分)</td>
    </tr>
  <form id="form10" name="form10" method="post" action="$_SCONFIG[apfile]/index.php">
    <tr>
      <td width="130" height="25" align="center"><strong class="spaf">充值金额</strong></td>
      <td><input name="paym" type="text" class="tts" id="paym" onkeypress="if (event.keyCode!=46 &amp;&amp; event.keyCode!=45 &amp;&amp; (event.keyCode&lt;48 || event.keyCode&gt;57)) event.returnValue=false" size="6" />
      <span class="spaf"><strong>元</strong><strong>(RMB)</strong> (一元人民币 = <strong>$_SCONFIG[bilv] </strong>积分)</span></td>
    </tr>
    <tr>
      <td height="65" align="center">&nbsp;</td>
      <td height="65" align="left"><input class="submit" name="Submit3" type="submit" value="确认充值" title="我要充值"  /></td>
    </tr>
      <tr>
        <td height="1" colspan="3" bgcolor="#FF9900"></td>
      </tr>
  </form>
</table>
		<!--{elseif $pay == 'tenpay'}-->
		<table border="0" align="right">
  <tr>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第一步<br />
     输入金额</font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第二步<br />
     在线支付     </font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第三步<br />
    完成充值   </font></strong> </td>
  </tr>
</table>
<br />

		<table width="98%" border="0" class="formtable">
		      <caption>
      <h2>在线充值 - 财付通$_SCONFIG[tps]%手续费</h2>
	  
        <p>&nbsp;&nbsp&nbsp 充值成功后，系统将会向 $space[username] 的账号自动充入积分，
无需等待，即时生效！</p>
        </caption>
<tr>
      <td width="130" height="25" align="center"><span class="spaf" style="font-weight: bold">用 户 名</span></td>
      <td width="629" class="spaf">$space[username] (我的积分:<span style="color: #FF0000;font-weight: bold;">$space[credit]</span>积分)</td>
    </tr>
  <form id="form10" name="form10" method="post" action="$_SCONFIG[tfile]/index.php">
    <tr>
      <td width="130" height="25" align="center"><strong class="spaf">充值金额</strong></td>
      <td><input name="paym" type="text" class="tts" id="paym" onkeypress="if (event.keyCode!=46 &amp;&amp; event.keyCode!=45 &amp;&amp; (event.keyCode&lt;48 || event.keyCode&gt;57)) event.returnValue=false" size="6" />
      <span class="spaf"><strong>元</strong><strong>(RMB)</strong> (一元人民币 = <strong>$_SCONFIG[bilv] </strong>积分)</span></td>
    </tr>
    <tr>
      <td height="65" align="center">&nbsp;</td>
      <td height="65" align="left"><input class="submit" name="Submit3" type="submit" value="确认充值" title="我要充值"  /></td>
    </tr>
      <tr>
        <td height="1" colspan="3" bgcolor="#FF9900"></td>
      </tr>
  </form>
</table>
		<!--{elseif $pay == 'chinabank'}-->
		<table border="0" align="right">
  <tr>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第一步<br />
     输入金额</font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第二步<br />
     在线支付     </font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第三步<br />
    完成充值   </font></strong> </td>
  </tr>
</table>
<br />
<table width="98%" border="0" class="formtable">
		      <caption>  
			  <h2>在线充值 - 网银在线$_SCONFIG[cbs]%手续费</h2>
	  
        <p>&nbsp;&nbsp&nbsp 充值成功后，系统将会向 $space[username] 的账号自动充入积分，
无需等待，即时生效！</p>
        </caption>
<tr>
      <td width="130" height="25" align="center"><span class="spaf" style="font-weight: bold">用 户 名</span></td>
      <td width="629" class="spaf">$space[username] (我的积分:<span style="color: #FF0000;font-weight: bold;">$space[credit]</span>积分)</td>
  </tr>
  <form id="form10" name="form10" method="POST" action="$_SCONFIG[cbfile]/Send.php">
    <tr>
      <td width="130" height="25" align="center"><strong class="spaf">充值金额</strong></td>
      <td><input name="paym" type="text" class="tts" id="paym" onkeypress="if (event.keyCode!=46 &amp;&amp; event.keyCode!=45 &amp;&amp; (event.keyCode&lt;48 || event.keyCode&gt;57)) event.returnValue=false" size="6" />
      <span class="spaf"><strong>元</strong><strong>(RMB)</strong> (一元人民币<strong> </strong>= <strong>$_SCONFIG[bilv] </strong>积分)</span></td>
    </tr>
    <tr>
      <td height="65" align="center">&nbsp;</td>
      <td height="65" align="left"><input class="submit" name="Submit3" type="submit" value="确认充值" title="我要充值"  /></td>
    </tr>
      <tr>
        <td height="1" colspan="3" bgcolor="#FF9900"></td>
      </tr>
  </form>
</table>

		<!--{elseif $pay == 'clpay'}-->
		<table border="0" align="right">
  <tr>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第一步<br />
     输入金额</font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第二步<br />
     在线支付     </font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第三步<br />
    完成充值   </font></strong> </td>
  </tr>
</table>
<br />

		<table width="98%" border="0" class="formtable">
		      <caption>
      <h2>在线充值 - 神州行手机卡充值$_SCONFIG[cls]%手续费</h2>
	  
        <p>&nbsp;&nbsp&nbsp 充值成功后，系统将会向 $space[username] 的账号自动充入积分，
无需等待，即时生效！</p>
        </caption>
		
		 <tr>
		<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="400"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#99CC00">
<table width="100%" border="0" cellspacing="1" cellpadding="1">
              <form id="form10" name="form10" method="post" action="$_SCONFIG[clfile]/req.php">
                <tr>
                  <td width="130" height="25" align="center" bgcolor="#FFFFFF"><span class="spaf" style="font-weight: bold">用 户 名</span></td>
                  <td bgcolor="#FFFFFF" class="spaf">$space[username] (我的积分:<span style="color: #FF0000;font-weight: bold;">$space[credit]</span>积分)</td>
                </tr>
                <tr>
                  <td width="130" height="25" align="center" bgcolor="#FFFFFF"><strong class="spaf">神州行充值卡面额</strong></td>
                  <td bgcolor="#FFFFFF">
				  <select name="paym" id="paym">
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                      <option value="300">300</option>
                      <option value="500">500</option>
                    </select>
                  <span class="spaf">元</span><br />
                  <strong>
(1元 </strong>= <strong>$_SCONFIG[bilv] </strong>积分)</strong></td>
                </tr>
                <tr>
                  <td width="130" height="25" align="center" bgcolor="#FFFFFF"><strong class="spaf">神州行充值卡序列号</strong></td>
                  <td bgcolor="#FFFFFF"><input name="pa7_cardNo" type="text" class="tts" id="pa7_cardNo" size="30" /></td>
                </tr>
                <tr>
                  <td width="130" height="25" align="center" bgcolor="#FFFFFF"><strong class="spaf">神州行充值卡密码</strong></td>
                  <td bgcolor="#FFFFFF"><input name="pa8_cardPwd" type="password" class="tts" id="pa8_cardPwd" size="30" /></td>
                </tr>
                <tr>
                  <td height="65" align="center" bgcolor="#FFFFFF">&nbsp;</td>
                  <td height="65" align="left" bgcolor="#FFFFFF"><input class="submit" name="Submit33" type="submit" value="确认充值" title="我要充值"></td>
                </tr>
              </form>
            </table>
            </td>
          </tr>
        </table></td>
            <td><ul>
              <li><strong>支持卡种：</strong> </li>
              <li value="2">全国卡：卡号17位，密码18位。面额：10，20，30，50，100，300，500元 </li>
              <li>江苏地方卡：卡号16位，密码17位。面额：30，50，100元 </li>
              <li>浙江地方卡：卡号10位，密码8位。面额：20，30，50，100元 </li>
              <li>辽宁地方卡：卡号16位，密码21位。面额：50，100元<br />
                  <br />
              </li>
              <li><strong>支付说明：</strong> </li>
              <li><strong>※ </strong>新充值卡和在本站支付后产生余额的充值卡都可以进行支付。 </li>
              <li><strong>※ </strong>在本站支付后产生余额的充值卡，不能给手机充值。 </li>
              <li><strong>※ </strong>提交卡密后请稍后，不要关闭系统处理页面。 </li>
              <li><strong>※ </strong>如果您的订单金额较大，您可以使用多张充值卡支付。<br />
                  <br />
              </li>
              <li><strong><font color=red>注意事项：</font></strong> </li>
              <li><font color=red><strong>※ </strong>请务必使用与您选择的面额相同的神州行卡进行支付，否则引起的交易失败交易金额不予退还。</font>如：选择50元面额但使用100元卡支付，则系统认为实际支付金额为50元，高于50元部分不予退还；选择50元面额但使用30元卡支付则系统认为支付失败，30元不予退还。</li>
            </ul></td>
  </tr>
</table>
</td>
		 </tr>
    
</table>
		
		<!--{elseif $pay == 'clbpay'}-->
		<table border="0" align="right">
  <tr>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第一步<br />
     输入金额</font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第二步<br />
     在线支付     </font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第三步<br />
    完成充值   </font></strong> </td>
  </tr>
</table>
<br />

		<table width="98%" border="0" class="formtable">
		      <caption>
      <h2>在线充值 - <span class="spaf">网上银行在线充值</span>$_SCONFIG[clbs]%手续费</h2>
	  
        <p>&nbsp;&nbsp&nbsp 充值成功后，系统将会向 $space[username] 的账号自动充入积分，
无需等待，即时生效！</p>
        </caption>
<tr>
      <td width="130" height="25" align="center"><span class="spaf" style="font-weight: bold">用 户 名</span></td>
      <td width="629" class="spaf">$space[username] (我的积分:<span style="color: #FF0000;font-weight: bold;">$space[credit]</span>积分)</td>
    </tr>
  <form id="form10" name="form10" method="post" action="$_SCONFIG[clbfile]/req.php">
    <tr>
      <td width="130" height="25" align="center"><strong class="spaf">充值金额</strong></td>
      <td><input name="paym" type="text" class="tts" id="paym" onkeypress="if (event.keyCode!=46 &amp;&amp; event.keyCode!=45 &amp;&amp; (event.keyCode&lt;48 || event.keyCode&gt;57)) event.returnValue=false" size="6" />
      <span class="spaf"><strong>元</strong><strong>(RMB)</strong> (一元人民币<strong> </strong>= <strong>$_SCONFIG[bilv] </strong>积分)</span></td>
    </tr> 
<tr>
      <td width="130" height="25" align="center"><strong class="spaf">选择银行</strong></td>
      <td>
        <table width="500" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="42" align="center" valign="middle">
            <input name="pd_FrpId" type="radio" class="radio"	id="radio3" value="ICBC-NET" checked="CHECKED" />              <img src="image/pay/payment_bank1.gif" width="127" height="33" align="absmiddle" /> </td>
            <td align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio" value="ABC-NET" />
            <img src="image/pay/payment_bank3.gif" width="127" height="33" align="absmiddle" /></td>
            <td align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio2" value="CMBC-NET" />
            <img src="image/pay/payment_bank4.gif" width="127" height="33" align="absmiddle" /></td>
          </tr>
          <tr>
            <td height="42" align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio4" value="CCB-NET" />
            <img src="image/pay/payment_bank2.gif" width="127" height="33" align="absmiddle" /></td>
            <td align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio5" value="BCCB-NET" />
            <img src="image/pay/payment_bank8.gif" width="127" height="33" align="absmiddle" /></td>
            <td align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio6" value="BOCO-NET" />
            <img src="image/pay/payment_bank7.gif" width="127" height="33" align="absmiddle" /></td>
          </tr>
          <tr>
            <td height="42" align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio7" value="CIB-NET" />
            <img src="image/pay/payment_bank12.gif" width="127" height="33" align="absmiddle" /></td>
            <td align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio8" value="CMBCHINA-NET" />
            <img src="image/pay/payment_bank6.gif" width="127" height="33" align="absmiddle" /></td>
            <td align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio9" value="CEB-NET" />
            <img src="image/pay/payment_bank14.gif" width="127" height="33" align="absmiddle" /></td>
          </tr>
          <tr>
            <td height="42" align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio10" value="ECITIC-NET" />
            <img src="image/pay/payment_bank13.gif" width="127" height="33" align="absmiddle" /></td>
            <td align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio11" value="SDB-NET" />
            <img src="image/pay/payment_bank11.gif" width="127" height="33" align="absmiddle" /></td>
            <td align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio12" value="SPDB-NET" />
            <img src="image/pay/payment_bank10.gif" width="127" height="33" align="absmiddle" /></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td height="65" align="center">&nbsp;</td>
      <td height="65" align="left"><input class="submit" name="Submit3" type="submit" value="确认充值" title="我要充值"  /></td>
    </tr>
      <tr>
        <td height="1" colspan="3" bgcolor="#FF9900"></td>
      </tr>
  </form>
</table>
		<!--{elseif $pay == 'pppay'}-->
		<table border="0" align="right">
  <tr>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第一步<br />
     输入金额</font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第二步<br />
     在线支付     </font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第三步<br />
    完成充值   </font></strong> </td>
  </tr>
</table>
<br />

		<table width="98%" border="0" class="formtable">
		      <caption>
      <h2>在线充值 - PayPal在线支付$_SCONFIG[pps]%手续费</h2>
	  
        <p>&nbsp;&nbsp&nbsp 充值成功后，系统将会向 $space[username] 的账号自动充入积分，
无需等待，即时生效！</p>
        </caption>
<tr>
      <td width="130" height="25" align="center"><span class="spaf" style="font-weight: bold">用 户 名</span></td>
      <td width="629" class="spaf">$space[username] (我的积分:<span style="color: #FF0000;font-weight: bold;">$space[credit]</span>积分)</td>
    </tr>
  <form id="form10" name="form10" method="post" action="$_SCONFIG[ppfile]/paypal.php">
    <tr>
      <td width="130" height="25" align="center"><strong class="spaf">充值金额</strong></td>
      <td><input name="paym" type="text" class="tts" id="paym" onkeypress="if (event.keyCode!=46 &amp;&amp; event.keyCode!=45 &amp;&amp; (event.keyCode&lt;48 || event.keyCode&gt;57)) event.returnValue=false" size="7" />
      <span class="spaf"><strong>美元(USD)</strong> (一美元<strong> </strong>=<strong> $_SCONFIG[ppbilv]</strong> 积分)</span></td>
    </tr>
    <tr>
      <td height="65" align="center">&nbsp;</td>
      <td height="65" align="left"><input class="submit" name="Submit3" type="submit" value="确认充值" title="我要充值"  /></td>
    </tr>
      <tr>
        <td height="1" colspan="3" bgcolor="#FF9900"></td>
      </tr>
  </form>
</table>
		
		<!--{elseif $pay == 'buyvip'}-->
		<table border="0" align="right">
  <tr>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第一步<br />
     选择服务</font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第二步<br />
     确认购买     </font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第三步<br />
    在线支付   </font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第四步<br />
    完成购买   </font></strong> </td>
  </tr>
</table>
<br />
		<table width="98%" border="0" class="formtable">
      <form id="form2" name="form2" method="post" action="pay.php?pay=info">
		      <caption>
      <h2>购买VIP - 选择服务</h2>
	  
        <p>&nbsp;&nbsp&nbsp 购买成功后，无需等待，即时生效！</p>
        </caption>
  <tr>
    <td width="120" height="25" align="center"><strong class="spaf">商品名称:</strong></td>
    <td class="STYLE2">VIP会员
    <a href="pay.php?ac=vip" target="_blank">查看VIP特权</a></td>
    </tr>
  <tr>
    <td align="center" valign="top"><strong class="spaf">服务类型:</strong></td>
    <td>
	
						<!--{loop $varr $key $value}-->
	<p>
	<!--{if $key == 1}-->
	 
        <input name="cvip" type="radio" value="$key" checked="checked" />
	<!--{else}-->
        <input name="cvip" type="radio" value="$key" />
	<!--{/if}-->
        <span class="spaf">$value[0] ￥<s>$value[1]</s>&nbsp; &nbsp; ￥<b>$value[3]</b> 节省￥$value[4]</span>      </p>
						<!--{/loop}-->
	</td>
    </tr>
  <tr>
    <td height="30" align="center" valign="middle"><strong class="spaf">选择支付方式:</strong></td>
    <td><p>
	<!--
		<!--{if $_SCONFIG[appay] != ''}-->
        <input name="cpay" type="radio" value="3" />
        <span class="spaf">支付宝</span>
		<!--{/if}-->
		<!--{if $_SCONFIG[tenpay] != ''}-->
        <input name="cpay" type="radio" value="1" checked="checked" />
        <span class="spaf">财付通</span>
		<!--{/if}-->
		<!--{if $_SCONFIG[cbankpay] != ''}-->
      <input type="radio" name="cpay" value="2" />
      <span class="spaf">网银在线</span>
		<!--{/if}-->
		-->
		<!--{if $_SCONFIG[clpay] != ''}-->
      <input name="cpay" type="radio" value="4" />
      <span class="spaf">神州行手机卡充值</span>
		<!--{/if}-->
		<!--{if $_SCONFIG[clbpay] != ''}-->
        <input name="cpay" type="radio" value="5" checked="checked" />
      <span class="spaf">网上银行在线充值</span>
		<!--{/if}-->
		<!--
		<!--{if $_SCONFIG[pppay] != ''}-->
      <input type="radio" name="cpay" value="6" />
      <span class="spaf">PayPal</span>
		<!--{/if}-->
		-->
		</p>      </td>
    </tr>
  <tr>
    <td height="30" align="center" valign="middle">&nbsp;</td>
    <td><input class="submit" name="Submit32" type="submit" value="下一步"></td>
  </tr>
      <tr>
        <td height="1" colspan="2" bgcolor="#FF9900"></td>
      </tr>
      </form>
</table>

		<!--{elseif $pay == 'ctvip'}-->
		<table border="0" align="right">
  <tr>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第一步<br />
     选择服务</font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第二步<br />
     确认兑换     </font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第三步<br />
    完成兑换   </font></strong> </td>
  </tr>
</table>
<br />
		<table width="98%" border="0" class="formtable">
      <form id="form2" name="form2" method="post" action="pay.php?pay=ctinfo">
		      <caption>
      <h2>积分兑换VIP - 选择服务</h2>
	  
        <p>&nbsp;&nbsp&nbsp 兑换成功后，无需等待，即时生效！</p>
        </caption>
  <tr>
    <td width="120" height="25" align="center"><strong class="spaf">商品名称:</strong></td>
    <td class="STYLE2">VIP会员
    <a href="pay.php?ac=vip" target="_blank">查看VIP特权</a>(可用积分:$space[credit])</td>
    </tr>
  <tr>
    <td align="center" valign="top"><strong class="spaf">服务类型:</strong></td>
    <td>
	
						<!--{loop $ctarr $key $value}-->
	<p>
	<!--{if $key == 0}-->
	 
        <input name="cvip" type="radio" value="$key" checked="checked" />
	<!--{else}-->
        <input name="cvip" type="radio" value="$key" />
	<!--{/if}-->
        <span class="spaf">$value[0]积分 &nbsp; <-> &nbsp; <b>$value[1]</b>天 </span>      </p>
						<!--{/loop}-->
	</td>
    </tr>
  <tr>
    <td height="30" align="center" valign="middle">&nbsp;</td>
    <td><input class="submit" name="Submit32" type="submit" value="下一步"></td>
  </tr>
      <tr>
        <td height="1" colspan="2" bgcolor="#FF9900"></td>
      </tr>
      </form>
</table>
		<!--{elseif $pay == 'ctinfo'}-->
		<table border="0" align="right">
  <tr>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第一步<br />
     选择服务</font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第二步<br />
     确认兑换     </font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第三步<br />
    完成兑换   </font></strong> </td>
  </tr>
</table>
<br />
		<table width="98%" border="0" class="formtable">
      <form id="form2" name="form2" method="post" action="pay.php?pay=ctinfo">
		      <caption>
      <h2>积分兑换VIP - 选择服务</h2>
	  
        <p>&nbsp;&nbsp&nbsp 兑换成功后，无需等待，即时生效！</p>
        </caption>
  <tr>
    <td width="120" height="25" align="center"><strong class="spaf">商品名称:</strong></td>
    <td class="STYLE2">VIP会员
    <a href="pay.php?ac=vip" target="_blank">查看VIP特权</a>(可用积分:$space[credit])</td>
    </tr>
  <tr>
    <td align="center" valign="top"><strong class="spaf">服务类型:</strong></td>
    <td>
	
	 
        <input name="cvip" type="hidden" value="$cvip" checked="checked" />
        <span class="spaf">$ctinfo[vjf]积分 &nbsp; <-> &nbsp; <b>$ctinfo[vday]</b>天 </span>      </p>
	</td>
    </tr>
  <tr>
    <td height="30" align="center" valign="middle">&nbsp;</td>
    <td><input class="submit" name="ctsubmit" type="submit" value="确认兑换">
    <input class="submit" type="button" name="Submit2" value="重新选择" onclick="javascript:history.go(-1);" /></td>
  </tr>
      <tr>
        <td height="1" colspan="2" bgcolor="#FF9900"></td>
      </tr>
      </form>
</table>
		<!--{elseif $pay == 'info'}-->
		<table border="0" align="right">
  <tr>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第一步<br />
     选择服务</font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第二步<br />
     确认购买     </font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第三步<br />
    在线支付   </font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第四步<br />
    完成购买   </font></strong> </td>
  </tr>
</table>
<br />
		<table width="98%" border="0" class="formtable">
      <tr><td width="130"><form id="form2" name="form2" method="post" action="$paypost">
		      <caption>
      <h2>购买VIP - 确认购买</h2>
	  
        <p>&nbsp;&nbsp&nbsp 购买成功后，无需等待，即时生效！</p>
        </caption>
  
	<!--{if $cpay == 4}-->
	    <tr>
      <td height="25" colspan="2" align="center">
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="400"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td bgcolor="#99CC00"><table width="100%" border="0" cellspacing="1" cellpadding="1">
                      <tr>
                        <td width="130" height="25" align="center" bgcolor="#FFFFFF"><span class="spaf" style="font-weight: bold"><strong class="spaf">商品名称:</strong></span></td>
                        <td align="left" bgcolor="#FFFFFF" class="spaf"><span class="STYLE2">VIP会员</span> <a href="pay.php?ac=vip" target="_blank"><strong>查看VIP特权</strong></a></td>
                      </tr>                      <tr>
                        <td width="130" height="25" align="center" bgcolor="#FFFFFF"><strong class="spaf">服务类型:</strong></td>
                        <td align="left" bgcolor="#FFFFFF"><span class="STYLE2">
                        $vipinfo[pmey]元/$vipinfo[day]天
                          <input name="cvip" type="hidden" id="cvip" value="$cvip" />
                          <input name="cpay" type="hidden" id="cpay" value="$cpay" />
                            </span></td>
                      </tr>
                      <tr>
                        <td width="130" height="25" align="center" bgcolor="#FFFFFF"><strong class="spaf">神州行充值卡面额</strong></td>
                        <td align="left" bgcolor="#FFFFFF"><select name="select" id="select">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="300">300</option>
                            <option value="500">500</option>
                          </select>
                            <span class="spaf">元</span><br />                            </strong></td>
                      </tr>
                      <tr>
                        <td width="130" height="25" align="center" bgcolor="#FFFFFF"><strong class="spaf">神州行充值卡序列号</strong></td>
                        <td align="left" bgcolor="#FFFFFF"><input name="pa7_cardNo" type="text" class="tts" id="pa7_cardNo" size="30" /></td>
                      </tr>
                      <tr>
                        <td width="130" height="25" align="center" bgcolor="#FFFFFF"><strong class="spaf">神州行充值卡密码</strong></td>
                        <td align="left" bgcolor="#FFFFFF"><input name="pa8_cardPwd" type="password" class="tts" id="pa8_cardPwd" size="30" /></td>
                      </tr>
                      <tr>
                        <td height="65" colspan="2" align="center" bgcolor="#FFFFFF"><input class="submit" name="Submit32" type="submit" value="确认购买">
      <input class="submit" type="button" name="Submit" value="重新选择" onclick="javascript:history.go(-1);" /></td>
                      </tr>
                </table></td>
              </tr>
          </table></td>
          <td align="left"><ul>
              <li><strong>支持卡种：</strong> </li>
            <li value="2">全国卡：卡号17位，密码18位。面额：10，20，30，50，100，300，500元 </li>
            <li>江苏地方卡：卡号16位，密码17位。面额：30，50，100元 </li>
            <li>浙江地方卡：卡号10位，密码8位。面额：20，30，50，100元 </li>
            <li>辽宁地方卡：卡号16位，密码21位。面额：50，100元<br />
                  <br />
              </li>
            <li><strong>支付说明：</strong> </li>
            <li><strong>※ </strong>新充值卡和在本站支付后产生余额的充值卡都可以进行支付。 </li>
            <li><strong>※ </strong>在本站支付后产生余额的充值卡，不能给手机充值。 </li>
            <li><strong>※ </strong>提交卡密后请稍后，不要关闭系统处理页面。 </li>
            <li><strong>※ </strong>如果您的订单金额较大，您可以使用多张充值卡支付。<br />
                  <br />
              </li>
            <li><strong><font color="red">注意事项：</font></strong> </li>
            <li><font color="red"><strong>※ </strong>请务必使用与您选择的面额相同的神州行卡进行支付，否则引起的交易失败交易金额不予退还。</font>如：选择50元面额但使用100元卡支付，则系统认为实际支付金额为50元，高于50元部分不予退还；选择50元面额但使用30元卡支付则系统认为支付失败，30元不予退还。</li>
          </ul></td>
        </tr>
      </table></td>
      </tr>  
	<!--{/if}-->
	
	<!--{if $cpay == 5}-->
	   <tr>
      <td height="25" colspan="2" align="center"><strong class="spaf">选择银行</strong>
        <table width="100%" border="0" cellspacing="1" cellpadding="1">
          <tr>
            <td width="130" height="25" align="center" bgcolor="#FFFFFF"><span class="spaf" style="font-weight: bold"><strong class="spaf">商品名称:</strong></span></td>
            <td align="left" bgcolor="#FFFFFF" class="spaf"><span class="STYLE2">VIP会员</span> <a href="pay.php?ac=vip" target="_blank"><strong>查看VIP特权</strong></a></td>
          </tr>
          <tr>
            <td width="130" height="25" align="center" bgcolor="#FFFFFF"><strong class="spaf">服务类型:</strong></td>
            <td align="left" bgcolor="#FFFFFF"><span class="STYLE2"> $vipinfo[pmey]元/$vipinfo[day]天
              <input name="cvip" type="hidden" id="cvip2" value="$cvip" />
                  <input name="cpay" type="hidden" id="cpay" value="$cpay" />
            </span></td>
          </tr>
          <tr>
            <td width="130" height="25" align="center" bgcolor="#FFFFFF"><strong class="spaf">请选择银行</strong></td>
            <td align="left" bgcolor="#FFFFFF"><table width="500" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="42" align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio13" value="ICBC-NET" checked="checked" />
                    <img src="image/pay/payment_bank1.gif" width="127" height="33" align="absmiddle" /> </td>
                <td align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio14" value="ABC-NET" />
                    <img src="image/pay/payment_bank3.gif" width="127" height="33" align="absmiddle" /></td>
                <td align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio15" value="CMBC-NET" />
                    <img src="image/pay/payment_bank4.gif" width="127" height="33" align="absmiddle" /></td>
              </tr>
              <tr>
                <td height="42" align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio16" value="CCB-NET" />
                    <img src="image/pay/payment_bank2.gif" width="127" height="33" align="absmiddle" /></td>
                <td align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio17" value="BCCB-NET" />
                    <img src="image/pay/payment_bank8.gif" width="127" height="33" align="absmiddle" /></td>
                <td align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio18" value="BOCO-NET" />
                    <img src="image/pay/payment_bank7.gif" width="127" height="33" align="absmiddle" /></td>
              </tr>
              <tr>
                <td height="42" align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio19" value="CIB-NET" />
                    <img src="image/pay/payment_bank12.gif" width="127" height="33" align="absmiddle" /></td>
                <td align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio20" value="CMBCHINA-NET" />
                    <img src="image/pay/payment_bank6.gif" width="127" height="33" align="absmiddle" /></td>
                <td align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio21" value="CEB-NET" />
                    <img src="image/pay/payment_bank14.gif" width="127" height="33" align="absmiddle" /></td>
              </tr>
              <tr>
                <td height="42" align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio22" value="ECITIC-NET" />
                    <img src="image/pay/payment_bank13.gif" width="127" height="33" align="absmiddle" /></td>
                <td align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio23" value="SDB-NET" />
                    <img src="image/pay/payment_bank11.gif" width="127" height="33" align="absmiddle" /></td>
                <td align="center" valign="middle"><input name="pd_FrpId" type="radio" class="radio"	id="radio24" value="SPDB-NET" />
                    <img src="image/pay/payment_bank10.gif" width="127" height="33" align="absmiddle" /></td>
              </tr>
            </table>
              <br />
                </strong></td>
          </tr>

          <tr>
            <td height="65" colspan="2" align="center" bgcolor="#FFFFFF"><input class="submit" name="Submit322" type="submit" value="确认购买" />
                <input class="submit" type="button" name="Submit4" value="重新选择" onclick="javascript:history.go(-1);" /></td>
          </tr>
        </table>
        </td>
      </tr>
	<!--{/if}-->
      <tr>
        <td height="1" colspan="2" bgcolor="#FF9900"></td>
      </tr>
      </form>
</table>
		<!--{elseif $pay == 'v'}-->
		<table border="0" align="right">
  <tr>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第一步<br />
     选择用户</font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第二步<br />
     确认升级     </font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第三步<br />
     完成操作   </font></strong> </td>
  </tr>
</table>
<br />
		<table width="98%" border="0" class="formtable">
      <form id="form2" name="form2" method="post" action="$paypost">
		      <caption>
      <h2>升级VIP - 确认升级</h2>
	  
        <p>&nbsp;&nbsp&nbsp 升级成功后，无需等待，即时生效！</p>
        </caption>
  <tr>
    <td width="120" height="25" align="center"><strong class="spaf">用户名:</strong></td>
    <td><span class="STYLE2">$space[username]</span>    </td>
    </tr>
  <tr>
    <td align="center" valign="top"><strong class="spaf">服务天数:</strong></td>
    <td class="STYLE2">
	<select name="v_day">
      <!--{loop $dayarr $key $value}-->
	       <option value="$key">$value 天</option>
		 
      <!--{/loop}-->
      </select>
    <input name="cpay" type="hidden" id="cpay" value="4" />
    <input name="uid" type="hidden" id="uid" value="$space[uid]" /></td>
    </tr>
      <tr>
        <td height="10" colspan="2"></td>
      </tr>
  <tr>
    <td height="30" align="center" valign="middle"></td>
    <td><input class="submit" name="openvip" type="submit" value="确认操作">
    <input class="submit" type="button" name="Submit" value="重新选择" onclick="javascript:history.go(-1);" /></td>
  </tr>
      <tr>
        <td height="20" colspan="2"></td>
      </tr>
      <tr>
        <td height="1" colspan="2" bgcolor="#FF9900"></td>
      </tr>
      </form>
</table><!--{elseif $pay == 'c'}-->
		<table border="0" align="right">
  <tr>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第一步<br />
     选择用户</font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第二步<br />
     确认取消     </font></strong> </td>
    <td width="110" height="48" align="center" background="image/pay/pay_04.gif">
      <strong><font color="#666666"> 第三步<br />
     完成操作   </font></strong> </td>
  </tr>
</table>
<br />
		<table width="98%" border="0" class="formtable">
      <form id="form2" name="form2" method="post" action="$paypost">
		      <caption>
      <h2>取消VIP - 确认取消</h2>
	  
        <p>&nbsp;&nbsp&nbsp 取消成功后，无需等待，即时生效！</p>
        </caption>
  <tr>
    <td width="120" height="25" align="center"><strong class="spaf">用户名:</strong></td>
    <td><span class="STYLE2">$space[username]</span>    </td>
    </tr>
  <tr>
    <td align="center" valign="top"><strong class="spaf">当前天数:</strong></td>
    <td>
	<span class="STYLE2">剩余</span> <strong>$v_day[vday]</strong> <span class="STYLE2">天</span>
    <input name="cpay" type="hidden" id="cpay" value="5" />
    <input name="uid" type="hidden" id="uid" value="$space[uid]" /></td>
    </tr>
  <tr>
    <td align="center" valign="top"><strong class="spaf">减少天数:</strong></td>
    <td><input name="v_day" type="text" class="tts" id="v_day" value="$v_day[vday]" size="6" /></td>
    </tr>
      <tr>
        <td height="10" colspan="2"></td>
      </tr>
  <tr>
    <td height="30" align="center" valign="middle"></td>
    <td><input class="submit" name="disablevip" type="submit" value="确认操作">
    <input class="submit" type="button" name="Submit" value="重新选择" onclick="javascript:history.go(-1);" /></td>
  </tr>
      <tr>
        <td height="20" colspan="2"></td>
      </tr>
      <tr>
        <td height="1" colspan="2" bgcolor="#FF9900"></td>
      </tr>
      </form>
</table>


		<!--{/if}-->
<!--{template footer}-->
