<!--{template header}-->
  <table align="center" class="formtable">
  <tr><td>
    <table width="650" border="0" align="center">
	<caption>
      <h2>帮助说明</h2>
	  
        <p>&nbsp;&nbsp&nbsp </p>
        </caption>
  <tr>
    <td align="left">
	  <p><br />
	    Var 1.4<br />
VIP积分充值系统<br />
目前支持五种支付方式:<br />
支付宝<br />
财付通<br />
网银在线<br />
易宝手机充值卡<br />
易宝手机银行卡<br />
功能:<br />
积分充值<br />
购买VIP <br />
积分兑换VIP</p>
	  <p>// <br />
	    版本Var 1.4更新<br />
	    增加QQ日志导入功能<br />
	    增加验证码KEY绑定*无KEY不能使用QQ日志导入功能<br />
	    *---------<br />
	    修正部份BUG<br />
	    // <br />
	    版本Var 1.3更新<br />
	    修正部份用户支付宝充值不成功<br />
	    修正网银部份用户签名出错<br />
	    修正到期的用户组ID混乱<br />
	    修正充值记录显示<br />
	    *----------<br />
	    增加加VIP优先搜索显示<br />
	    增加管理员操作VIP会员<br />
	    增加VIP部份功能配置<br />
	    增加智能安装</p>
	  <p>&nbsp;</p></td>
    </tr>
    </table>
  </td></tr>
</table>
  
<!--{template footer}-->