<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>隐私保护 - 交友、征婚、相亲、同城爱妻公寓专业交友网</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#mainu { margin: 15px 0 0 0; width:960px;height:100%; overflow: hidden; border:1px #e3e3e3 solid; background:url(image/mymenu_bj2.gif) repeat-y left 0}
#mainarea{padding:20px 30px 20px 30px;width:730px;line-height:25px;}
#mainarea li{ text-indent:24px; padding-bottom:5px;}
.title{ display:block;}
</style>
</head>

<body>
<!-- 顶部 -->
<div id="indextop">
<div class="logo"><a href="index.php"><img src="image/logo.gif" /></a></div>
<div class="topright">
<div class="qq"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1043227304&amp;site=qq&amp;menu=yes" target="_blank">在线客服</a><a href="javascript:window.external.AddFavorite('http://www.zibo3.com', '同城爱情公寓')">收藏本站</a></div>
<div class="slogan">
<div align="right">同城交友浪漫之旅——相聚同城爱情公寓邂逅有情人！一个人的孤单，不如两个人的狂欢！</div>
</div> 
</div>
</div>
<!-- 顶部end -->

<!-- 菜单 -->
<div id="menu">
<ul>
<li class="left"></li>
<li><a href="../../index.php" class="home">首页</a></li>
<li><a href="../../space.php?do=home" class="mf">个人中心</a></li>
<li><a href="../../space.php?do=love&p=girl" class="mf">迷人女士</a></li>
<li><a href="../../space.php?do=love&p=man" class="mf">大方绅士</a></li>
<li><a href="../../space.php?do=love" class="mf">同城异性</a></li>
<li><a href="../../cp.php?ac=friend&op=search&all=yes" class="mf">搜索异性</a></li>
<li><a href="../../space.php?do=blog" class="mt">日志</a></li>
<li><a href="../../space.php?do=album" class="mt">相册</a></li>
<li class="right_login">
<a href="/do.php?ac=login" class="login_lo"><img src="/template/default/image/login_lo.gif" border="0" align="absmiddle" /> 登录</a>
<a href="/do.php?ac=register" class="login_zc"><img src="/template/default/image/login_zcimg.gif" border="0" align="absmiddle" /> 注册</a>
</li>
</ul>
</div>
<!-- 菜单end -->

<div id="wrap">

<div id="mainu">
<div id="app_sidebar">
<ul class="app_list" id="default_userapp">
<li><a href="about.html">关于我们</a></li>                
<li><a href="mzsm.html">法律声明</a></li>
<li class="li"><a href="ysbh.html"><strong>隐私保护</strong></a></li>
<li><a href="gl.html">交友攻略</a></li>
<li><a href="fpmj.html">防骗秘籍</a></li>
<li><a href="faq.html">常见问题</a></li>
<li><a href="gy.html">文明公约</a></li>
<li><a href="lxwm.html">联系我们</a></li>
</ul>
</div>

<div id="mainarea">
<ul>

<li>欢迎来到”同城爱情公寓”，您的隐私保护对我们至关重要，将为您提供控制您的个人信息使用的能力。本隐私权保护声明说明我们将如何收集、使用您的个人信息。</li>
<li>隐私权保护声明系本网站保护用户个人隐私的承诺，请您务必仔细阅读。
</li></ul>
<h3 style="font:bold 14px/32px '宋体';">一、信息的收集</h3>
<ul>
<li>  ·当您在本网站进行用户注册登记以及进行各种活动时，在您的同意及确认下，本网站将通过注册表格等形式要求您提供一些个人资料。这些个人资料包括：
</li>
<li>1、个人识别资料：如昵称、性别、年龄、出生日期、电话、住址、电子邮件地址等。</li>
<li> 2、个人背景：职业、教育程度、收入状况、婚姻、家庭状况、照片、兴趣爱好等。</li>
<li>这些信息可以被其他的用户查看，为了保护您的隐私，我们提供了允许您控制部分敏感个人信息披露程度的功能，您可以通过这些功能来保护自己的个人信息。</li>
<li>  ·在未经您同意及确认之前，本网站不会将以上资料用于其它目的。惟按下列第5条规定，应政府及法律要求披露时不在此限。</li>
<li>   ·在您邀请新成员或者通过同城爱情公寓网站发送消息时，我们收集和保留相关的信息，请注意和其他社会网络网站一样，这些信息将可能被其他人查看，请审慎保护这些资料。
</li></ul>
<h3 style="font:bold 14px/32px '宋体';">二、用户权利</h3>
<ul>
<li> ·您对于自己的个人资料享有以下权利：</li>
<li>1、随时查询及请求阅览；</li>
 <li>    2、随时请求补充或更正；</li>
 <li>    3、随时请求删除；</li>
 <li>    ·针对以上权利，同城爱情公寓网站为您提供相关服务，您可以登录网站自行修改或发送邮件到Webmaster@232.com</li>
</ul>
<h3 style="font:bold 14px/32px '宋体';">三、信息的使用</h3>
<ul>
<li>   ·我们将根据您的输入和设置显示您的个人信息，这些信息将可以被其他用户查看。同城爱情公寓网站的成员可以看到其他成员可公开的个人资料以了解对方及其社会网络并与社会网络中的其他成员联系。</li>
    <li> ·当您通过同城爱情公寓网站发送消息、发表文章等时，您的部分基本个人信息将一起显示，对于其中部分功能，同城爱情公寓网站亦提供了使用匿名或者笔名发表的功能。</li>
    <li> ·同城爱情公寓网站将可能根据您的帐户设置向您的个人邮箱或者手机发送各种提醒信息，这是为了改善对您的服务，您也可以在任何时候通过同城爱情公寓网站修改这些设置。</li>
<li>      我们郑重声明不发送垃圾邮件和垃圾短信，也绝不向其他机构或个人出售邮件地址和手机号码。</li>
</ul>
<h3 style="font:bold 14px/32px '宋体';">四、限制使用原则</h3>
<ul>
<li> 本网站惟在符合下列条件之一，方对收集之个人资料进行必要范围以外之使用：</li>
 <li>   ·已取得您的书面同意；</li>
 <li>   ·为免除您在生命、身体或财产方面之急迫危险</li>
 <li>   ·为防止他人权益之重大危害；</li>
 <li>   ·为增进公共利益，且无害于您的重大利益。
</li>
</ul>
<h3 style="font:bold 14px/32px '宋体';">五、隐私的保护</h3>
<ul>
<li>    ·保护用户隐私是同城爱情公寓网站的一项基本政策，同城爱情公寓网站保证不对外公开或向第三方提供用户注册资料及用户在使用网络服务时存储在同城爱情公寓网站的非公开内容，但下列情况除外：</li>
<li>    (a) 事先获得用户的明确授权；</li>
<li>    (b) 根据有关的法律法规要求；</li>
<li>    (c) 按照相关政府主管部门的要求；</li>
<li>    (d) 为维护社会公众的利益；</li>
<li>   (e) 为维护同城爱情公寓网站的合法权益。</li>
<li>·同城爱情公寓网站可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与同城爱情公寓网站同等的保护用户隐私的责任，则同城爱情公寓网站可将用户的注册资料等提供给该第三方。</li>
<li>    ·在不透露单个用户隐私资料的前提下，同城爱情公寓网站网有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。
</li>
</ul>
<h3 style="font:bold 14px/32px '宋体';">六、安全保障</h3>
<ul>
<li>您的同城爱情公寓帐户具有密码保护功能，以确保您的隐私和信息安全。</li>
<li>在某些情况下，同城爱情公寓使用通行标准的保密系统，确保资料传送的安全性。</li> 
<h3 style="font:bold 14px/32px '宋体';">七、资料转移</h3>
<ul>
<li>同城爱情公寓网站保留在网站所有权转移的情况下转移用户资料归属的权利，例如被收购或者与其它公司合并时。</li>
</ul>
<h3 style="font:bold 14px/32px '宋体';">八、法律声明</h3>
<ul>
<li>除上述第5条规定属免责外，下列情况时本网站亦毋需承担任何责任：</li>
<li>·由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露。</li>

    <li>·任何由于黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被篡改等。</li>

<li>·由于与本网站链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果。</li>

    <li>使用同城爱情公寓网站的服务，意味着您接受此隐私权保护声明，此声明将可能更改，如有重要更改，我们将在同城爱情公寓网站发出更改通知，请及时查看。</li>



<li>本声明的最终解释权和修改权归同城爱情公寓网站所有。</li>

<li>如果您有任何疑问，请与我们联系。

</li>







</ul>

</div>
<!--/mainarea-->

<div id="bottom"></div>
</div>
<!--/main-->

<div id="footer">
		
		
		<p class="r_option">
			<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP"><img src="image/top.gif" alt="" style="padding: 5px 6px 6px;" /></a>
		</p>

		<p><a href="../template/default/about.html" target="_blank">关于我们</a>- <a href="../template/default/mzsm.html" target="_blank">法律声明</a>- <a href="../template/default/ysbh.html" target="_blank">隐私保护</a>- <a href="../template/default/gl.html" target="_blank">交友攻略</a>- <a href="../template/default/fpmj.html" target="_blank">防骗秘籍</a>- <a href="../template/default/faq.html" target="_blank">常见问题解答</a>- <a href="../template/default/lxwm.html">联系我们</a>- <a href="../template/default/gy.html" target="_blank">文明公约</a> <a  href="http://www.miibeian.gov.cn" target="_blank">鲁ICP备09179073号</a> </p>
        <p> Powered by <a href="http://www.zibo3.com" target="_blank"><strong>同城爱情公寓</strong></a>
            <!--<span title="<!--{eval echo X_RELEASE;}-->
          &quot;&gt;
          <!--{eval echo X_VER;}-->
          </span>--&gt;
            <!--{if !empty($_SCONFIG['licensed'])}-->
          <!--<a  href="http://license.comsenz.com/?pid=7&host=$_SERVER[HTTP_HOST]" target="_blank">Licensed</a>-->
          <!--{/if}-->
  &copy; 2008-2011 <a  href="http://www.zibo3.com" target="_blank">zibo3.com </a>网站建设维护：<a href="http://www.zibo3.com" target="_blank">鲁中数据</a>
  <script language="JavaScript" src="http://s11.cnzz.com/stat.php?id=3401980&amp;web_id=3401980&amp;show=pic" type="text/javascript"></script>
        </p>
        <p> 声明：【同城爱情公寓】交友网提供同城交友找情人、淄博婚介所服务，是淄博最专业的同城交友平台，所有会员禁止在本站发布任何色情信息。</p>
</div>
</div>
</body>
</html>
